.content__section {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  display: grid;
  grid-template-columns: 30% auto;

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  .highlight {
    padding-top: 7rem;
    border-right: 1px solid #f0f0f0;

    @media screen and (max-width: 576px) {
      padding-top: 3rem;
    }

    .industry__encap {
      padding-left: 28px;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 576px) {
        padding-left: 18px;
      }

      .industry {
        .heading {
          font-size: 12px;
          line-height: 14px;
          color: #8c8c8c;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .subhead {
          font-size: 15px;
          line-height: 1.5rem;
          color: #262626;
          font-weight: 400;
          margin-bottom: 0px;
        }
      }
    }

    .share {
      border-top: 1px solid #f0f0f0;
      padding-left: 28px;
      padding-top: 1.5rem;

      @media screen and (max-width: 576px) {
        padding-left: 18px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
        color: #8c8c8c;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }

  .content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;
    padding-right: 3.3rem;
    // display: flex;
    // flex-direction: column;
    // row-gap: 70px;

    @media screen and (max-width: 992px) {
      padding-left: 2rem;
      padding-right: 18px;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media screen and (max-width: 576px) {
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 3rem;
      padding-bottom: 3rem;
      row-gap: 3rem;
    }

    .noMargin {
      margin-bottom: 0px;
    }

    .marginAvailable {
      margin-bottom: 70px;
    }

    .subcontent {
      h4 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -2px;
        color: #141414;
        font-family: "Grotesk";
        margin-bottom: 1.5rem;
        font-weight: 700;

        @media screen and (max-width: 576px) {
          font-size: 1.3rem;
          line-height: 1.8rem;
          letter-spacing: -0px;
          margin-bottom: 1rem;
        }
      }

      p {
        margin-bottom: 0px;
        color: #595959;
        font-size: 18px;
        line-height: 28px;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 1.5rem;
        }
      }
    }

    .subcontent__img {
      margin-bottom: 70px;
      margin-top: 70px;
    }

    .subcontent2 {
      h4 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -2px;
        color: #141414;
        font-family: "Grotesk";
        margin-bottom: 1.5rem;
        font-weight: 700;

        @media screen and (max-width: 576px) {
          font-size: 1.3rem;
          line-height: 1.8rem;
          letter-spacing: -0px;
          margin-bottom: 1rem;
        }
      }

      p {
        margin-bottom: 0px;
        color: #595959;
        font-size: 18px;
        line-height: 28px;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 1.5rem;
        }
      }
    }

    .subsub__list {
      ul {
        margin-left: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      li {
        color: #595959;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0.5rem;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 1.5rem;
        }
      }
    }
    ul {
      margin-left: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    li {
      color: #595959;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 576px) {
        font-size: 15px;
        line-height: 1.5rem;
      }
    }
  }
}
