.heroSection {
  position: relative;
  background-image: url("/assets/event-feedbackHero.webp");
  height: 600px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .heroLogo {
    width: 100%;
    max-width: 600px;
    height: 260px;

    @media (max-width: 1024px) {
      max-width: 400px;
      height: 180px;
    }

    @media (max-width: 768px) {
      max-width: 280px;
      height: 140px;
    }
  }
}

.section1 {
  background: #009bc0;
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 32px;

  h3 {
    font-weight: 700;
    font-size: 51px;
    line-height: 58.65px;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 38px;
  }

  /* Media query for mobile (max width: 768px) */
  @media (max-width: 768px) {
    padding-top: 48px;
    padding-bottom: 24px;
    h3 {
      font-size: 28px;
      line-height: 36px;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      margin-top: 24px;
    }
  }
}
.section2 {
  background: #ffffff;
  padding: 123px 0;

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .feedbackForm {
    max-width: 74%;
    margin: 0 auto;

    @media (max-width: 768px) {
      max-width: 90%;
      margin: 0 auto;
    }

    .detail {
      display: flex;
      gap: 6.6%;
      align-items: center;
      align-content: center;
      color: #000;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;

      .inputDiv {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          height: 48px;
          border: 1px solid #000;
          margin-top: 3px;
          border-radius: 6px;
          padding: 12px;

          @media (max-width: 768px) {
            height: 36px;
          }
        }
      }
    }

    .question {
      margin-top: 48px;
      h3 {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        span {
          font-weight: 400;
          font-style: italic;
          color: #686868;
        }
      }
      .radio-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #000000;
        font-size: 20px;

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 18px;
          line-height: 28px;

          input[type="radio"] {
            accent-color: #007;
            width: 16px;
            height: 16px;
          }
        }
      }

      @media (max-width: 768px) {
        margin-top: 24px;

        h3 {
          color: #000;
          font-size: 16px;
          line-height: 24px;
        }

        .radio-group {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          color: #000000;
          font-size: 20px;

          label {
            gap: 0.5rem;
            font-size: 14px;
            line-height: 20px;

            input[type="radio"] {
              accent-color: #007;
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    .question3 {
      color: #000000;
      font-size: 24px;
      margin-top: 48px;
      width: 100%;

      h3 {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        span {
          font-weight: 400;
          font-style: italic;
          color: #686868;
        }
      }

      textarea {
        height: 163px;
        resize: vertical;
        width: 80%;
        font-size: 18px;
        padding-left: 24px;
        padding-top: 24px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
        margin-top: 24px;

        h3 {
          font-size: 16px;
          line-height: 24px;
        }
        textarea {
          height: 100px;
          resize: vertical;
          width: 90%;
          font-size: 18px;
          padding-left: 12px;
          padding-top: 12px;
        }
      }
    }

    .buttonContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
