.footer_container {
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px dashed #414d57;
  background: #0f172a;
  border-bottom: 1px dashed #414d57;
  border-left: 1px dashed #414d57;
  display: flex;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    border-left: 1px dashed #414d57;
    border-right: none;
    border-top: 1px dashed #414d57;
    border-bottom: 1px dashed #414d57;
    width: 100%;
    margin: 0px;
  }
  .left_content {
    width: 33.3%;
    // height: 641px;
    margin-left: 48px;
    border-right: 1px dashed #414d57;
    @media screen and (max-width: 640px) {
      width: 100%;
      margin-left: 0px;
      border-right: none;
      border-left: none;
      height: auto;
      border-bottom: none;
      padding: 0 20px;
    }
    .mobile_container {
      margin-top: 40px;
      @media screen and (max-width: 640px) {
        margin-top: 20px;
      }
    }
    .mobile_phone {
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      height: auto;
      line-height: 24px;
      gap: 16px;
      color: #bfbfbf;
    }

    .mobile_phone_item {
      // display: flex;
      color: #595959;
      font-size: 15px;
      font-weight: 500;
      font-family: Graphik, sans-serif;
    }
  }
  .right_content {
    width: 66.7%;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    .top_content {
      display: flex;
      columns: 3;
      border-bottom: 1px dashed #414d57;
      @media screen and (max-width: 640px) {
        flex-direction: column;
        margin-top: 20px;
        border-bottom: none;
        border-top: 1px dashed #414d57;
      }
      .col_1,
      .col_2,
      .col_3 {
        border-right: 1px dashed #414d57;
        width: 33.3%;
        height: 356px;
        @media screen and (max-width: 640px) {
          border-right: none;
          width: 100%;
          height: auto;
          border-bottom: 1px dashed #414d57;
          padding: 16px 0px;
        }
      }

      .col_1_title,
      .col_2_title,
      .col_3_title {
        margin-bottom: 24px;
        padding-top: 40px;
        margin-left: 40px;
        color: #8c8c8c;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "Grotesk", sans-serif;
        @media screen and (max-width: 640px) {
          padding-top: 20px;
          margin-left: 20px;
          font-size: 18px;
        }
      }
      .col_1_services,
      .col_2_services,
      .col_3_services {
        padding-bottom: 40px;
        margin-left: 40px;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-weight: 500;
        font-size: 15px;
        font-family: "Graphik", sans-serif;
        color: #bfbfbf;
        cursor: pointer;
        @media screen and (max-width: 640px) {
          margin-left: 20px;
          padding-bottom: 16px;
          font-size: 14px;
        }
      }
    }
    .bottom_content_container {
      border-right: 1px dashed #414d57;
      .bottom_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        margin-left: 40px;
        padding-top: 40px;
        @media screen and (max-width: 640px) {
          .bottom_content {
            padding: 0px 10px 10px 10px;
            gap: 0px;
          }
        }
      }
      .partners {
        flex: 0 0 calc(33.333% - 24px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        @media screen and (max-width: 640px) {
          padding-bottom: 10px;
        }
      }
    }
  }
}
.footer_copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-left: 1px dashed rgba(255, 255, 255, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
  max-width: 1280px;
  color: #bfbfbf;
  margin: 0 auto;
  @media screen and (max-width: 640px) {
    flex-direction: column;
    gap: 16px;
    padding: 20px 0px;
  }
  .copyright_text {
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 500;
    font-family: "Graphik", sans-serif;
  }
  .privacy_terms {
    display: flex;
    gap: 24px;
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    font-family: "Graphik", sans-serif;
    cursor: pointer;
    @media screen and (max-width: 640px) {
      gap: 12px;
      flex-direction: column;
    }
  }
}
