.sectionContainer {
  background: #ffffff;
  width: 100%;

  .innerContainer {
    max-width: 1272px;
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
}

.containerStyle1 {
  width: 100%;
  max-width: 694px;
  padding: 72px 0px 66px 48px;
}

.containerStyle2 {
  width: 100%;
  margin: 0 auto;
  max-width: 673px;
  text-align: center;
  padding: 72px 0;
}

.containerStyle3 {
  width: 100%;
  margin: 0 auto;
  max-width: 746px;
  text-align: center;
  padding: 72px 0 66px;
}
