.cert__section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 2rem;
  align-items: center;

  &--default {
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
  }

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
