.card {
  border: 1px solid #d9d9d9;
  border-radius: 1rem;
  cursor: pointer;
  max-width: 389px;

  ////variant
  &--primary {
    background: transparent;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  &--secondary {
    background: #fcfcfc;
    padding: 1rem 0.8rem 1rem 0.8rem;
  }

  &:hover {
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15);
    h5 {
      text-decoration: 2px solid underline !important; /* or any other decoration you want */
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
  }
}

.content {
  width: 90%;

  .industry__style {
    display: flex;
    column-gap: 0.5rem;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    @media screen and (max-width: 640px) {
      flex-direction: row;
    }
  }

  .head {
    border: 1px solid #d9d9d9;
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    color: #595959;
    width: fit-content;
    letter-spacing: 1px;
    margin-top: 28px;
    margin-bottom: 12px;
    line-height: 14px;

    @media screen and (max-width: 992px) {
      font-size: 10px;
      padding: 4px 4px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .subhead {
    color: #141414;
    font-weight: 600;
    letter-spacing: -2%;
    margin-bottom: 2rem;
    line-height: 28px;
    font-family: "Grotesk";

    //variant
    &--primary {
      font-size: 20px;

      @media screen and (max-width: 992px) {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }

    &--secondary {
      font-size: 18px;

      @media screen and (max-width: 992px) {
        font-size: 14px;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 992px) {
      font-size: 15px;
      line-height: 1.3rem;

      @media screen and (max-width: 992px) {
        font-size: 13px;
        margin-bottom: 1rem;
      }
    }
  }
}
