.hero__heading {
  .sub__sec {
    font-size: 13px;
    font-weight: 500;
    color: #595959;
    line-height: 20px;
    border: 1px solid #e37915;
    background: #fcf2e8;
    border-radius: 4px;
    width: fit-content;
    padding: 4px 8px 4px 4px;
    text-transform: uppercase;

    &--primary {
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (max-width: 992px) {
      font-size: 12px;
      line-height: 22px;
    }

    @media screen and (max-width: 640px) {
      font-size: 8px;
      line-height: 20px;
      text-align: left;
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .new__update {
    font-size: 14px;
    font-weight: 500;
    color: #595959;
    line-height: 20px;
    border: 1px solid #e37915;
    background: #fcf2e8;
    border-radius: 10px;
    width: fit-content;
    padding: 4px 8px 4px 4px;
    cursor: pointer;

    &--only_update {
      border-radius: 4px;
    }

    @media screen and (max-width: 992px) {
      font-size: 12px;
      line-height: 22px;
    }

    @media screen and (max-width: 640px) {
      font-size: 8px;
      line-height: 20px;
    }

    .span1 {
      color: #e37915;
      background: white;
      padding: 3px 10px;
      border-radius: 6px;
      border: 1px solid #e37915;
      margin-right: 12px;

      @media screen and (max-width: 640px) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .span2 {
      color: #e37915;
      margin-left: 6px;
    }
  }
  .headingWithParagrapgh {
    margin-bottom: 1.5rem;
  }
  .headingWithNoParagrapgh {
    margin-bottom: 3rem;
  }
  .headings {
    color: #141414;
    letter-spacing: -2px;
    font-weight: 700;
    font-family: "Grotesk";

    &--primary {
      font-size: 2.5rem;
      line-height: 3rem;

      @media screen and (max-width: 1035px) {
        font-size: 2.4rem;
        line-height: 2.7rem;
      }

      @media screen and (max-width: 992px) {
        font-size: 20px;
        line-height: 1.5rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    &--secondary {
      font-size: 2rem;
      line-height: 2.5rem;

      @media screen and (max-width: 1035px) {
        font-size: 30px;
        line-height: 2rem;
      }

      @media screen and (max-width: 992px) {
        font-size: 1.7rem;
        line-height: 2rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }
  }

  .paragraph__transform {
    font-weight: 400;
    color: #595959;

    &--default {
      margin-bottom: 48px;
    }

    &--primary {
      margin-bottom: 0px;
    }

    &--primary {
      font-size: 18px;
      line-height: 28px;

      @media screen and (max-width: 1035px) {
        font-size: 16px;
        line-height: 26px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &--secondary {
      margin-bottom: 0px;
    }

    &--secondary {
      font-size: 18px;
      line-height: 28px;

      @media screen and (max-width: 1035px) {
        font-size: 18px;
        line-height: 28px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &--left-aligned {
      text-align: left;
    }
  }
}
