.lineContainer {
  @media (max-width: 768px) {
    display: none;
  }
  display: grid;
  grid-template-columns: repeat(12, 1fr); // Adjust the number of columns
  border: 0.5px solid #f0f0f0; // Blue border
  height: 84px; // Adjust height to fit the design
  overflow: hidden;

  .row {
    border-right: 1px solid #f0f0f0; // Vertical lines
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
