.mainContainer {
  background: #ffffff;

  main {
    max-width: 1272px;
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    .agile {
      padding: 96px 0;
      text-align: center;

      @media (max-width: 1024px) {
        padding: 60px 24px;
      }

      .headingss {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -2px !important;
        font-weight: 700;
        color: #141414;
        font-family: "Grotesk";
        margin-bottom: 24px !important;

        @media (max-width: 768px) {
          font-size: 36px;
          line-height: 48px;
        }
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #595959;
        margin-bottom: 0px !important;
        width: 50%;
        margin-right: auto;
        margin-left: auto;

        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 24px;
          width: 90%;
        }
      }
    }

    // .gridContainer {
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
    //   width: 100%;

    //   @media (max-width: 768px) {
    //     grid-template-columns: repeat(1, 1fr);
    //   }

    //   .gridItem {
    //     width: 100%;
    //     padding-top: 56px;
    //     padding-bottom: 56px;
    //     padding-left: 10.8%;
    //     padding-right: 10.8%;
    //     border-right: 1px solid #f0f0f0;

    //     @media (max-width: 768px) {
    //       padding: 24px;
    //     }

    //     &:last-child {
    //       border-right: none;
    //     }

    //     .iconContainer {
    //       width: 40px;
    //       height: 40px;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       border: 1px solid #d9d9d9;
    //       border-radius: 8px;
    //       box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    //         0px -2px 4px 0px rgba(255, 255, 255, 0.2),
    //         0px 1px 2px 0px rgba(0, 0, 0, 0.1),
    //         0px 2px 1px 0px rgba(255, 255, 255, 0.2);
    //     }

    //     .heading5 {
    //       font-family: "Grotesk";
    //       font-weight: 600;
    //       font-size: 16px;
    //       line-height: 24px;
    //       margin-top: 20px;
    //       margin-bottom: 8px;
    //     }
    //     p {
    //       font-weight: 400;
    //       font-size: 15px;
    //       line-height: 24px;
    //       margin-bottom: 0px !important;
    //     }
    //   }
    // }

    .accomplishments {
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .accomplishItem {
        width: 100%;
        padding-top: 110px;
        padding-bottom: 93px;
        padding-left: 7.6%;
        padding-right: 7.6%;
        border-right: 1px solid #f0f0f0;

        @media (max-width: 768px) {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 60px;
          padding-bottom: 60px;
        }

        &:last-child {
          border-right: none;
        }
        h4 {
          font-family: "Grotesk";
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 8px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 0px !important;
        }
      }
    }
  }
}
