.card {
  display: flex;
  align-items: center;
  padding: 0 3rem;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
    text-align: center; // Center-align content for column layout
  }
}

.icon {
  width: 30%;
}

.vertical {
  height: 400px;
  border: 1px solid #f0f0f0;
  margin-right: 48px;
}

.content {
  flex: 1;

  .subtitle {
    font-size: 0.9rem;
    color: #757575;
    margin-bottom: 0.5rem;
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 1.5rem;
    color: #141414;
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0px !important;
    color: #595959;
  }

  .extraContent {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 1rem;
    margin-bottom: 0px !important;
    color: #595959;
  }
}
