.services__card__reuse {
  max-width: 1272px;
  margin: auto;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  //   padding-left: 3.5rem;
  //   padding-right: 3.5rem;
  //   padding-top: 7rem;
  //   padding-bottom: 7rem;

  @media screen and (max-width: 992px) {
    padding: 4rem 1rem;
  }

  .services__card {
    &--default {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &--primary {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
