$color-sky-100: #e0f2fe;
$color-slate-900: #11202d;
$color-zinc-600: #595959;
$color-zinc-300-80: rgba(212, 212, 216, 0.8);
$color-white-60: rgba(255, 255, 255, 0.6);

.section {
  width: 100%;
  background-color: $color-sky-100;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 96px 20px;
  border-left: 1px solid $color-zinc-300-80;
  border-right: 1px solid $color-zinc-300-80;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @media (max-width: 1024px) {
    border: none;
    padding: 64px 24px;
  }
}

.title {
  color: $color-slate-900;
  font-family: "Domine", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.cardGrid {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
  flex-wrap: wrap; // Key for responsiveness
}

.card {
  flex: 1;
  min-width: 300px;
  max-width: 360px;
  background-color: $color-white-60;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  backdrop-filter: blur(10px);
  border: 3px solid $color-white-60;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-8px);
  }

  @media (max-width: 640px) {
    max-width: 100%;
  }
}

.cardHeader {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  // min-height for text to keep images aligned in a row
  min-height: 120px;

  @media (max-width: 1024px) {
    min-height: auto;
  }
}

.cardTitle {
  color: $color-slate-900;
  font-family: "Domine", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.cardDescription {
  color: $color-zinc-600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

.cardImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}
