.mainContainer {
  background: #ffffff;
  width: 100%;

  main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 96px 0px;
    @media screen and (max-width: 992px) {
      padding: 24px 0px;
    }
  }
  .house {
    width: 70%;
    margin: 0 auto 88px;
    color: #000000;
    @media screen and (max-width: 992px) {
      width: 80%;
    }
    @media screen and (max-width: 768px) {
      width: 95%;
    }

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      @media screen and (max-width: 992px) {
        font-size: 32px;
        line-height: 48px;
      }
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
