.awsSolutions {
  padding: 4rem 0;
  background: #eeecec;

  h2 {
    color: #0f1a24;
    text-align: center;
    max-width: 90%;
    width: 100%;
    margin: 0 auto 3rem;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: 1.25;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .awsSolutionCard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media (min-width: 922px) {
        flex-direction: row;

        &.rowReverse {
          flex-direction: row-reverse;
        }
      }

      .image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: left;

        @media (min-width: 922px) {
          aspect-ratio: 437 / 478;
          max-width: 437px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 815px;
        width: 100%;
        background: white;
        padding: 2rem;

        @media (min-width: 768px) {
          padding: 3rem;
        }

        .textContainer {
          border: 1px solid #e5e5e5;
          border-radius: 8px;
          padding: 1.5rem 1.5rem 0 1.5rem;
          margin-bottom: 1.5rem;

          h3 {
            color: #0f1a24;
            font-weight: 700;
            font-size: clamp(1.1rem, 3vw, 1.3125rem);
            line-height: 1.5;
            margin-bottom: 1rem;
          }
          p {
            color: #595959;
            line-height: 1.6;
            max-width: 100%;
          }
        }

        .buttonContainer {
          margin-left: 1.5rem;
        }
      }
    }
  }
}

.awsServices {
  .container {
    background: #11202d;
    padding: 3rem 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 3rem;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: 1.25;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    color: #262626;
    gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }

    .cardContainer {
      padding: 1.5rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      height: auto;
      width: 100%;

      @media (min-width: 768px) {
        padding: 2rem 2rem 2rem 1.5rem;
      }

      .icon {
        width: 56px;
        height: auto;
        margin-bottom: 1.5rem;
        object-fit: contain;
      }

      .content {
        h3 {
          font-size: clamp(1.1rem, 3vw, 1.3125rem);
          font-weight: 700;
          line-height: 1.5;
          color: #0f1a24;
          margin-bottom: 1rem;
        }
        p {
          line-height: 1.6;
        }
      }
    }
  }
}

.awsTraining {
  padding: 3rem 0;

  h2 {
    color: #0f1a24;
    text-align: center;
    max-width: 90%;
    width: 100%;
    margin: 0 auto 2rem;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: 1.25;
  }

  p {
    max-width: 1105px;
    margin: 0 auto 2rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    // flex-wrap: wrap;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  .trainingCard {
    padding: 2rem;
    background: #f5f5f5;
    width: 100%;
    max-width: 561px;
    height: auto;

    &.textCenter {
      display: flex;
      flex-direction: column;
      max-width: 823px;
      width: 100%;

      @media (min-width: 768px) {
        align-items: center;

        p {
          text-align: center;
        }
      }
    }

    h3 {
      padding: 0.5rem 1rem;
      color: #11202d;
      font-weight: 600;
      line-height: 1.5;
      font-size: clamp(1.2rem, 4vw, 1.5rem);
      border: 1.62px solid #e37915;
      border-radius: 9.5px;
      width: fit-content;
      margin-bottom: 1rem;
    }

    p {
      text-align: left;
      color: #11202d;
      line-height: 1.5;
    }
  }
}

.tailored {
  background: white;
  border-top: 1px solid #e0e0e0;

  .sub__tailored {
    max-width: 1272px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h3 {
      font-size: 2rem;
      line-height: 2.5rem;
      font-family: "Grotesk";
      color: #141414;
      font-weight: 700;
      margin-bottom: 0rem;

      @media (max-width: 922px) {
        font-size: 1.7rem;
      }

      @media (max-width: 640px) {
        font-size: 1.5rem;
      }
    }
  }
}

.card__encap {
  display: grid;
  row-gap: 6rem;

  @media (max-width: 922px) {
    row-gap: 4rem;
  }

  @media (max-width: 640px) {
    column-gap: 4rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .awscards {
    display: flex;
    align-items: center;
    gap: 4rem;

    @media (max-width: 922px) {
      gap: 2rem;
      align-items: start;
    }

    @media (max-width: 640px) {
      flex-direction: column-reverse;
    }

    .card__content {
      flex: 1;
      text-align: start;

      h5 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: #141414;
        font-family: "Grotesk";
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 17px;
        line-height: 28px;
        color: #595959;
      }
    }

    .imageContainer {
      flex: 1;
    }
  }
}

.tailored__solution {
  max-width: 1272px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  margin: auto;
  text-align: center;
  padding: 6rem 3.5rem;

  @media (max-width: 922px) {
    padding: 3rem 1.5rem;
  }

  @media (max-width: 640px) {
    padding: 3rem 18px;
  }
}

.tailored__consulting {
  background: white;
  border-top: 1px solid #e0e0e0;

  .sub__tailored__consulting {
    max-width: 1272px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin: auto;
    text-align: left;
    padding: 5rem 3.5rem;

    @media (max-width: 922px) {
      padding: 3rem 1.5rem;
    }

    @media (max-width: 640px) {
      padding: 3rem 18px;
    }

    h3 {
      font-size: 2rem;
      line-height: 2.5rem;
      font-family: "Grotesk";
      color: #141414;
      font-weight: 700;
      margin-bottom: 0rem;
      width: 40%;

      @media (max-width: 922px) {
        width: 70%;
      }

      @media (max-width: 640px) {
        width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
  }
}

.aws__training {
  border-bottom: 1px solid #e0e0e0;

  .training {
    max-width: 1272px;
    border-left: 1px solid #e0e0e0;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 40% auto;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }

  .training__1 {
    padding: 3rem;
    text-align: start;

    @media (max-width: 922px) {
      padding: 1.5rem;
      border-right: 1px solid #e0e0e0;
    }

    @media (max-width: 640px) {
      padding: 1.5rem 18px 0px 18px;
    }
  }
}
