.packageCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 279px;
  width: 289px;
  background: #0f1a24;
  border: 1px solid #f0f0f0;
  padding: 24px;
  color: #fff;
  border-radius: 8px;

  .heading {
    h3 {
      font-weight: 600;
      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  .price {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 21px;

    div {
      display: flex;
      align-items: end;
      margin-bottom: 8px;
    }

    span {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
