.cookieOverlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 600px;
  width: 90%;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: start;
  z-index: 1000;

  .cookieModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .icon {
      width: 50px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      color: #1f1f1f;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      color: #595959;
      line-height: 24px;
      margin-bottom: 24px;
      .linkContainer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        div {
          color: #b5babe;
        }
      }
      a {
        color: #606a72;
        text-decoration: none;
        text-transform: capitalize;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;
        .acceptButton,
        .declineButton {
          width: 100%;
        }
      }
      .acceptButton {
        background-color: #e37915;
        color: white;
        padding: 10px 69px;
        border: none;
        height: 40px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background-color: #e37915;
        }
      }

      .declineButton {
        border: 1px solid #d3d3d6;
        background: transparent;
        font-weight: 700;
        height: 40px;
        padding: 10px 59px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 20px;
        color: #71717a;
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
