.footer {
  background: #1f1f1f;

  .footer__container {
    max-width: 1272px;
    margin: auto;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;

    .get__in__touch {
      display: grid;
      grid-template-columns: 35% auto;
      padding: 3.5rem 18px;
      column-gap: 6rem;
      border-bottom: 1px solid #454545;

      @media screen and (max-width: 992px) {
        column-gap: 3rem;
      }

      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }

      p {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        color: #fcfcfc;
        letter-spacing: -2%;
        font-family: "Grotesk";

        @media screen and (max-width: 992px) {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }

      .schedule__format {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        width: 100%;

        @media screen and (max-width: 992px) {
          column-gap: 1.5rem;
        }

        @media screen and (max-width: 640px) {
          grid-template-columns: 1fr;
          row-gap: 1.5rem;
        }

        .format {
          //   width: 350px;

          p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: #fcfcfc;
            margin-top: 1.5rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 992px) {
              font-size: 14px;
              line-height: 20px;
            }

            @media screen and (max-width: 640px) {
              margin-top: 1rem;
              margin-bottom: 0.7rem;
            }
          }

          button {
            color: #e37915;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            line-height: 1.5rem;
            background: none;
          }
        }
      }
    }

    .footer__services {
      display: grid;
      grid-template-columns: 38% auto;

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
      }

      .about {
        padding: 42px;
        border-right: 1px solid #454545;

        @media screen and (max-width: 992px) {
          width: 70%;
          border-right: none;
        }

        @media screen and (max-width: 640px) {
          padding: 18px;
          width: 90%;
        }

        p {
          color: white;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-top: 1.5rem;
          margin-bottom: 2.5rem;
        }
      }
    }

    .services__contanier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;

      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
        width: 100%;
      }

      .links {
        border-right: 1px solid #454545;
        border-bottom: 1px solid #454545;
        padding: 40px 20px 40px 20px;

        h4 {
          color: white;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
          font-family: "Grotesk";
        }

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;

          li {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #d9d9d9;
            list-style: none;

            @media screen and (max-width: 640px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .blog__section {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      padding: 25px 40px;

      @media screen and (max-width: 640px) {
        row-gap: 1rem;
        padding: 18px;
      }

      .blog__heading {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 0px;
        font-family: "Grotesk";
      }

      .showcase {
        display: flex;
        column-gap: 0.5rem;

        @media screen and (max-width: 640px) {
          flex-direction: column;
          row-gap: 1rem;
        }
      }

      .blogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 17px;

        @media screen and (max-width: 640px) {
          grid-template-columns: 1fr;
        }

        .blog {
          display: grid;
          grid-template-columns: 40% auto;
          border: 1px solid #454545;
          background: #262626;
          border-radius: 1rem;
          cursor: pointer;
          height: 121px;

          .contentHover {
            padding: 12px 24px;

            .readmore {
              font-size: 1rem;
              line-height: 1.5rem;
              letter-spacing: -2%;
              color: #f0f0f0;
              margin-bottom: 5px;

              @media screen and (max-width: 992px) {
                font-size: 14px;
                line-height: 1.2rem;
              }

              @media screen and (max-width: 640px) {
                font-size: 13px;
                line-height: 1.2rem;
              }
            }
          }

          .content {
            padding: 36px 24px;

            .readmore {
              font-size: 1rem;
              line-height: 1.5rem;
              letter-spacing: -2%;
              color: #f0f0f0;
              margin: 0px;

              @media screen and (max-width: 992px) {
                font-size: 14px;
                line-height: 1.2rem;
              }

              @media screen and (max-width: 640px) {
                font-size: 13px;
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }

    .preferences {
      border-top: 1px solid #454545;
      padding: 2.5rem;

      .copyrights {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #a6a6a6;
          margin: 0;

          @media screen and (max-width: 576px) {
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }

      .extralinks {
        display: flex;

        @media screen and (max-width: 640px) {
          flex-direction: column;
          align-items: center;
          row-gap: 1rem;
        }

        a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #858585 !important;

          &:hover {
            color: #e37915 !important;
          }
        }
      }
    }
  }
}
