.section2 {
  background: #ffffff;
  width: 100%;
  main {
    max-width: 1272px;
    width: 100%;
    margin: 0 auto;
    padding: 96px 0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
  }
}

.content {
  max-width: 61%;
  padding: 0 48px;
  margin: 0 auto;

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 1.5rem;
    color: #141414;
    text-align: center;
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #595959;
  }
}
