.nav_menu {
  list-style: none;
  padding: 0;

  .nav_item {
    margin-bottom: 10px !important;
    padding: 0 !important;

    .nav_button {
      background: none;
      border-bottom: 1px solid #e5e7eb;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.4rem;
    }

    .dropdown {
      display: none;
      margin-top: 5px;

      &.open {
        display: block;
        margin-left: 2rem !important;
      }

      li {
        margin-bottom: 5px;

        .nav_sublink {
          background: none;
          border: none;
          font-size: 14px;
          cursor: pointer;
          padding: 5px 0;
        }

        .sub_dropdown {
          display: none;
          padding-left: 15px;

          &.open {
            display: block;
          }

          li {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
.navItemButton {
  display: grid;
  gap: 16px;
  padding: 0.4rem;
  font-size: 16px;
}
.support {
  width: 100%;
  height: 40px;
  padding: 8px 14px;
  outline: none;
  border-radius: 6px;
  background-color: #009bc0;
  color: white !important;
}
.support:hover {
  opacity: 0.5;
}
.contactUs {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  outline: none;
  border: 2px solid #e37915;
  color: #e37915 !important;
}
