@import'lib/breakpoints.scss';

.aboutUsPage {
    // background-color: #fafafa;
    width: 100%;

    main {
        width: 100%;

        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset;
        }

        .heading {
            h3 {
                font-weight: 700;
                font-size: 34px;
                line-height: 40px;
                color: #ffffff;
                margin-bottom: 30px;
            }

            h2 {
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #009BC0;
            }
        }

        .h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 40px;
            color: #ffffff;
            margin-bottom: 30px;
        }

        input {
            height: 50px;
        }

        .welcome {
            height: 700px;
            width: 100%;
            background-image: url('/assets/about/banner.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            position: relative;

            .shape{
                height: 200px;
                background-image: url('/assets/about/banner-shape.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 3;
            }
            
            .content {
                background: #1D3449;
                opacity: 0.9;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                color: #ffffff;
                text-align: center;
            }
            
            h1 {
                font-weight: bold;
                font-size: 64px;
                line-height: 130%;
            }

            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #B3BAD1;
            }

            @include media("<=tablet") {
                height: 500px;

                h1 {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 120%;
                }
            }
        }

        .about {
            position: relative;
            background: #0D1117;
            padding: 3.5rem 0;

            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #009BC0;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .story {
            // position: relative;
            padding: 3.5rem 0;
            background: #0F1A25;

            .content {
                background-image: url('/assets/about/Image.png');
                background-repeat: no-repeat;
                background-size: 20%;
                background-position: left 100px;
            }

            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #009BC0;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: rgba(255, 255, 255, 0.7);
            }

            strong {
                color: #ffffff;
            }
        }

        .achievements {
            position: relative;
            padding: 3.5rem 0;
            background-color: #0D1117;
        }

        .values {
            position: relative;
            padding: 3.5rem 0;
            background-color: #F0F2F3;
            background-image: url("/assets/Alluvium-logo-bg.png");
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: 20%;

            h2{
                color: #0D1117;
                text-align: center;
            }
        }

        .cta{
            background-color: #0D1117;
            padding: 3.5rem 0;
        }

        .impact {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            background-color: #0D1117;
            padding: 3.5rem 0;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: rgba(255, 255, 255, 0.7);
            }

            strong {
                color: #ffffff;
            }

            .content {
                padding-left: 50px;
            }

            @include media("<tablet") {
                grid-template-columns: 1fr;

                .content {
                    padding: 20px;
                }
            }
        }
    }
}