.heroblogstyles {
  background: #f3f4f6;
  padding-top: 96px !important;
  padding-bottom: 336px !important;
  position: relative;

  @media screen and (max-width: 992px) {
    padding-top: 40px !important;
  }

  @media screen and (max-width: 576px) {
    padding-bottom: 180px !important;
  }

  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    width: 80%;
    margin-bottom: 1.3rem;

    @media screen and (max-width: 992px) {
      font-size: 40px;
    }
    @media screen and (max-width: 576px) {
      font-size: 30px;
      line-height: 40px;
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  .blogdatastyle {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      row-gap: 2rem;
    }

    .contentstyling {
      .contentname {
        color: #333333;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .contentdate {
        color: #5c5c5c;
        font-size: 15px;
        line-height: 24px;
      }
    }

    .social {
      .contentname {
        color: #333333;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .socialImg {
        display: flex;
        column-gap: 1rem;
      }
    }
  }
}

.contentB {
  position: relative;

  .blogimg {
    position: relative;
    bottom: 18rem !important;
    z-index: 100 !important;

    @media screen and (max-width: 576px) {
      bottom: 7rem !important;
      margin-bottom: 2rem;
    }
  }

  .innerContent {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 40px;
    margin-top: -96px;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
      font-family: "Graphik";
      line-height: 20px;
      color: #374151;
      margin-bottom: 3rem;
    }

    .styleTab {
      .styleP {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2rem;
        color: #374151;
      }

      .heading {
        cursor: pointer;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #5e666d;
          padding: 8px 0px 8px 8px;
          border-left: 1px solid #e7e8e9;
          margin-bottom: 0px;
        }

        .active {
          border-left: 1px solid #080e14;
          color: #080e14;
          font-weight: 600;
          line-height: 32px;
        }
      }
    }

    .contentListing {
      display: grid;
      row-gap: 4rem;
      @media screen and (max-width: 576px) {
        row-gap: 2rem;
      }

      h3 {
        font-size: 40px;
        font-weight: 600;
        color: #0f1a24;
        line-height: 52px;
        margin-bottom: 1.5rem;

        @media screen and (max-width: 576px) {
          font-size: 1.3rem;
          line-height: 35px;
          margin-bottom: 1rem;
        }
      }
      p {
        color: #3d3d3d;
        font-size: 18px;
        line-height: 32px;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 28px;
        }
      }

      span {
        color: #0f1a24;
        font-weight: 500;
        font-size: 18px;
      }

      ul {
        margin-left: 1rem;
      }

      ol {
        margin-left: -1rem;
      }

      li {
        margin-top: 1rem;
        line-height: 32px;
        font-size: 18px;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 28px;
        }
      }

      h6 {
        margin: 1.5rem 0px;
        font-size: 18px;
        font-weight: 500;
        color: #0f1a24;
        line-height: 32px;

        @media screen and (max-width: 576px) {
          font-size: 15px;
          line-height: 28px;
        }
      }
    }
  }
}

.atlassianPotential {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (max-width: 992px) {
    padding: 3.5rem 0px;
  }

  @media screen and (max-width: 576px) {
    padding: 3.5rem 1rem;
  }

  .potentialContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 160px;
    padding: 48px 146px;
    background: #0f1a24;
    border-radius: 10px;

    @media screen and (max-width: 992px) {
      padding: 2.5rem 1rem;
      column-gap: 3rem;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }

    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      color: white;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 992px) {
        font-size: 1.2rem;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: white;

      @media screen and (max-width: 992px) {
        font-size: 0.9rem;
      }
    }

    button {
      padding: 1rem 87px;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      background: #e37915;
      border-radius: 5px;
      border: 1.5px;

      @media screen and (max-width: 992px) {
        padding: 0.7rem 2.5rem;
      }
    }
  }
}

.Articles {
  .articlediv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.7rem;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  h2 {
    margin-bottom: 64px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 47px;
  }
}
.articlencap {
  border: 1px;
  transition: transform 0.3s ease;
  // height: 477px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);

    h5 {
      text-decoration: 2px solid underline !important; /* or any other decoration you want */
      color: black !important;
    }
  }

  .imgs {
    margin-bottom: -1rem;
    position: relative;

    img {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    p {
      position: absolute;
      top: 0;
      padding: 13px 26px;
      background: black;
      color: white;
      opacity: 0.6;
      font-weight: 500;
      line-height: 1.1rem;
      font-size: 13px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .articleContent {
    padding: 1.5rem 1rem;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 200px;

    a {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: #1f2937;

      @media screen and (max-width: 992px) {
        font-size: 0.9rem;
      }
    }

    .articleName {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #6b7280;
      margin-top: 1rem;
      margin-bottom: 48px;
    }

    p {
      font-size: 13px;
      line-height: 20px;
      color: #6b7280;
    }
  }
}
