@import'lib/breakpoints.scss';

.booking {
    display: inline-flex;
    justify-content: space-between;
    background-color: #0F1A25;
    align-items: center;
    background-image: url("/assets/about/booking-bg.png");
    background-attachment: fixed;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 2rem 0;

    @media screen and (max-width: 576px) {
        display: block;
        text-align: center;
    }

    h3{
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 30px !important;
        letter-spacing: 0.0125em !important;
        color: #FFFFFF;
        margin: 0 !important;

        @media screen and (max-width: 576px) {
            margin-bottom: 40px !important;
        }
    }

    a {
        text-decoration: none;
        background: #E37915;
        border: 1.5px solid #E37915;
        border-radius: 5px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #FFFFFF !important;
        font-weight: 600;
        padding: 10px 50px;
        text-align: center;
    }

    @include media("<=tablet") {
        text-align: center;
        flex-direction: column;

        a {
            padding: 10px 20px;
            margin-top: 20px;
        }
    }
}

.contact {
    position: relative;
    background-color: #0D1117;
    padding: 3.5rem 0;

    .content {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        column-gap: 100px;

        label {
            color: #ffffff;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            margin-bottom: 14px;
        }

        h3 {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: rgba(255, 255, 255, 0.7);
        }

        strong {
            color: #ffffff;
        }
    }

    @include media("<=tablet") {
        .content {
            grid-template-columns: 1fr;
            column-gap: 0;

            form {
                margin-bottom: 30px;
            }
        }

    }

   
}