@import "./lib/breakpoints.scss";
@import "./lib/fonts.scss";

.caseStudyPage {
  main {
    background-color: #f5f5f5;
    // padding: 1rem 0;

    .sectionHeader {
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 40px;
      color: #0d1117;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.012em;
    color: #3d3d3d;

    .image {
      filter: drop-shadow(56px 153px 65px rgba(29, 41, 58, 0.01))
        drop-shadow(31px 86px 55px rgba(29, 41, 58, 0.03))
        drop-shadow(14px 38px 41px rgba(29, 41, 58, 0.04))
        drop-shadow(3px 10px 22px rgba(29, 41, 58, 0.05))
        drop-shadow(0px 0px 0px rgba(29, 41, 58, 0.05));
    }

    .heroSection {
      // background-image: url("/assets/case-studies2/header.png");
      // background-attachment: fixed;
      background-repeat: no-repeat;
      color: rgba(255, 255, 255, 1);
      text-align: center;

      @media screen and (min-width: 1400px) {
        background-size: cover;
      }

      @media screen and (max-width: 576px) {
        min-height: 600px;
      }

      & > div {
        h1 {
          width: 60%;
          margin-top: 105px;
        }

        min-height: 534px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: 768px) {
          h1 {
            width: 100%;
            margin-top: 205px;
          }

          .results {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: start;

            @media screen and (max-width: 576px) {
              align-items: center;
              margin-top: 15px;
            }

            img {
              width: 25px;
              padding-top: 20px;
            }

            p {
              margin-left: 10px;
              @media screen and (max-width: 576px) {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

    .contentSection {
      position: relative;
    }

    .navSection {
      position: sticky;
      top: 0;
      z-index: 10;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(123, 123, 135, 0.08),
        0px 4px 8px rgba(123, 123, 135, 0.06);

      // @media screen and (max-width: 576px) {
      //     display: none;
      // }
      ul {
        height: 100%;
        margin-top: 20px;

        li {
          padding-bottom: 20px;

          a {
            color: rgba(53, 53, 53, 1);

            &:hover {
              color: inherit;
            }
          }

          &.active {
            border-bottom: 2px solid #e37915;
          }

          &.inActive {
            border-bottom: 0;
          }

          &:hover {
            border-bottom: 2px solid #e379159f;
          }
        }
      }

      .downloadLink {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #e37915;
        margin-left: auto;
      }
    }

    .overviewSection {
      background: #f5f5f5;

      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #0d1117;
      }

      p {
        max-width: 55%;

        @media screen and (max-width: 768px) {
          max-width: 75%;
          margin-top: 30px;
          text-align: justify;
        }

        @media screen and (max-width: 576px) {
          max-width: 100%;
          text-align: justify;
        }
      }

      span {
        font-family: "Graphik";
        font-weight: 500;
      }
    }

    .situationSection {
      background: rgba(82, 187, 232, 0.1);
      @media screen and (max-width: 768px) {
        p {
          margin-top: 30px;
          text-align: justify;
        }
      }
    }

    .challengeAndSolutionSection {
      background: #f5f5f5;

      & > div {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;

        div {
          flex: 1;

          @media screen and (max-width: 768px) {
            flex: none;
            margin-top: 30px;
            width: 100%;
            text-align: justify;
          }
        }
      }
    }

    .resultSection {
      background: #f5f5f5;

      @media screen and (max-width: 768px) {
        ul {
          margin-top: 30px;
          text-align: justify;
        }
      }
      // &>div{
      //     display: flex;
      //     flex-wrap: wrap;
      //     column-gap: 3rem;

      //     div{
      //         flex: 1;
      //         @media screen and (max-width: 576px) {
      //             width: 100%;
      //         }
      //     }
      // }
    }

    .bookings {
      background-color: rgba(0, 155, 192, 1);

      .button {
        background: #ffffff;
        border: 1.5px solid #ffffff;
        color: #009bc0;
      }
    }

    .caseStudyHeaderSection {
      .caseStudyTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #1b3854;
        margin: 2.5rem 0;

        @include media("<=phone") {
          margin: 2.5rem 1rem;
        }

        @include media(">phone", "<=custom-view-5") {
          margin: 2.5rem 1rem;
        }
      }

      .caseStudyHeader {
        display: flex;
        flex-direction: row;
        background: #009bc0;

        .caseStudyImg {
          max-width: 1131px;
          margin-bottom: -0.3rem;

          @include media("<=phone") {
            display: none;
          }

          @include media(">phone", "<=custom-view-5") {
            display: none;
          }

          img {
            width: 100%;
          }
        }

        .caseStudyHeaderText {
          padding: 1.5rem;

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 170%;
            text-align: justify;
            color: #ffffff;
          }
        }
      }
    }

    .caseStudyDownload {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #009bc0;
      padding: 2.5rem 1.5rem;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #ffffff;

        span {
          max-width: 93px;
          margin: 0 1.5rem;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
