.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0f1a25 !important;
  // background: url('/assets/solution/Solution.png') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 733px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 120px !important;
  // padding-bottom: 120px !important;

  // &>div{
  //     background-color: #0F1A25;
  // }

  @media screen and (min-width: 1600px) {
    background-color: #0f1a25 !important;
    background-image: none !important;
  }

  @media screen and (max-width: 768px) {
    background-position: bottom right;
  }

  @media screen and (max-width: 576px) {
    background-position: bottom right;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 78px;

    @media screen and (max-width: 576px) {
      margin: 40px 0;
    }
  }

  .topContent {
    width: 65%;

    @media screen and (max-width: 768px) {
      width: 80%;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    ul {
      // list-style: none;
      margin-left: 30px;

      li {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 180%;
        color: #ffffff;
        margin-bottom: 20px;

        span {
          font-weight: 300;
        }
      }
    }

    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin: 60px 0;

      @media screen and (max-width: 576px) {
        margin: 40px 0;
      }
    }

    .industries {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 2rem;
      row-gap: 1rem;
      width: 70%;

      @media screen and (max-width: 576px) {
        width: 100%;
        margin-bottom: 60px;
      }

      .industry {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        @media screen and (max-width: 576px) {
          column-gap: 0.5rem;
        }

        &>div {
          background-color: rgba(227, 121, 21, 1);
          width: 57px;
          height: 57px;
          padding: 7px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 576px) {
            width: 22px;
            height: 22px;
            padding: 0;
          }
        }
      }
    }
  }
}

.heroCard {
  background-color: transparent !important;
  border: none;
  // background-color: #0F1922;
  color: #fff;
}

.heroCard2 {
  @media screen and (max-width: 576px) {
    width: 70%;
    margin-right: auto;
    // height: 22px;
    padding: 0;
  }
}

.countdownCard {
  background-color: #ffbe26 !important;
  border: none;
  // background-color: #0F1922;
  color: #000;
}

.hr {
  width: 90%;
  margin: 0 auto;
}

.custom-bg-color {
  background-color: #0f1922;
}

////////////////////////ABOUT SCHEDULE, SPEAKER AND REGISTER STYLING////////////////////////////

.container {
  // margin: 2rem 5rem;
  color: #000000;

  .text {
    font-family: "Graphik";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }
}

.conference>h1 {
  color: #009bc0;
  font-family: "Graphik";
  font-size: 36px;
  font-weight: 600;
  border-bottom: 0.3rem solid #009bc0;
  width: fit-content;
  margin-bottom: 32px;
}

.conference>h2 {
  color: #11202d;
  font-family: "Graphik";
  font-size: 36px;
  line-height: 46.8px;
  font-weight: 600;
}

.progamEvent>h2 {
  margin-bottom: 32px;
  font-family: "Graphik";
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.004em;
  text-align: left;
}

.highlight {
  font-family: "Graphik";
  font-weight: 500;
  font-family: Graphik;
  font-size: 20px;
}

.about {
  margin-bottom: 2rem;
}

.time {
  margin-bottom: 4rem;
  font-family: "Graphik";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: right;
}

.divider {
  margin-top: 10px;
  height: auto;
  width: 2px;
  background-color: #000;

  @media screen and (max-width: 576px) {
    height: 99% !important;
  }
}

.time1 {
  margin-bottom: 3.2rem;
  margin-top: 3px;
}

.time2 {
  margin-bottom: 3rem;
}

.time3 {
  margin-bottom: 8.2rem;
}

.time4 {
  margin-bottom: 8rem;
}

.time5 {
  margin-bottom: 11.8rem;
}

.time6 {
  margin-bottom: 13.3rem;
}

.time7 {
  margin-bottom: 13.2rem;
}

@media screen and (max-width: 576px) {
  .time {
    margin-bottom: 0px;
    height: 100%;

    &1 {
      margin-bottom: 5rem;
    }

    &2 {
      margin-bottom: 4.8rem;
    }

    &3 {
      margin-bottom: 12.7rem;
    }

    &4 {
      margin-bottom: 11.5rem;
    }

    &5 {
      margin-bottom: 17.7rem;
    }

    &6 {
      margin-bottom: 19.5rem;
    }

    &7 {
      margin-bottom: 19.5rem;
    }
  }
}

.speechs {
  margin-bottom: 1rem;
  font-family: "Graphik";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.004em;
  text-align: left;
}

.speech_cover {
  font-family: 'Graphik';
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.004em;
  text-align: left;
}

.speech {
  margin-bottom: 2.9rem;

  &0 {
    margin-bottom: 2.6rem;
  }

  &1 {
    margin-bottom: 3.1rem;
  }

  &2 {
    margin-bottom: 3rem;
  }

  &3 {
    margin-bottom: 3.5rem;
  }

  &4 {
    margin-bottom: 1.7rem;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 5rem;

    &0 {
      margin-bottom: 4.6rem;
    }

    &1 {
      margin-bottom: 5.4rem;
    }

    &2 {
      margin-bottom: 3.1rem;
    }

    &3 {
      margin-bottom: 3.6rem;
    }

    &4 {
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 1281px) {
    &2 {
      margin-bottom: 1.9rem;
    }

    &3 {
      margin-bottom: 2rem;
    }

    &4 {
      margin-bottom: 2rem;
    }
  }
}

.inner>p {
  margin-bottom: 0.5rem;
}

.inner {
  font-family: "Graphik";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.004em;
  text-align: left;
}

.topic {
  font-weight: 400;
}

.aboutPage {
  margin-bottom: 16px;
  margin-top: 0px;
  font-family: "Graphik";
  font-size: 56px;
  font-weight: 700;
  // line-height: 72.3px;
  letter-spacing: -0.004em;
  text-align: left;
}

.schedule {
  display: grid;
  grid-template-columns: 30rem auto;
  margin: 110px auto;
  gap: 80px;

  @media screen and (max-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
}

.recap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.highlight {
  display: flex;
  gap: 5rem;
}

.encompass {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* //////////////////////speakers style////////////////////////////////////// */
.visitorsPage {
  background: #e3e3e3;
  padding: 2rem 0;
  cursor: pointer;
  font-family: "Graphik";

  @media screen and (max-width: 576px) {
    padding: 4rem 0;
  }
}

.speakers {
  font-size: 56px;
  font-weight: 700;
  line-height: 73px;
  text-align: center;
  color: #11202d;
}

.guest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  color: white;
  font-weight: 500;
  line-height: 20px;
  padding: 4rem 0;
  justify-content: flex-start;
}

.specific1 {
  // width: 294px;
  width: 100%;
  max-width: 294px;
  height: 316px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // padding: 1rem 0;
  font-size: 16px;
  position: relative;
  background-color: #000;
}

.specific:hover {
  text-decoration: underline;
}

.specific {
  position: absolute;
  // top: 11.5rem;
  bottom: 0px;
  background-color: #000000bc;
  // border-radius: 8px;
  padding: 8px;
  padding-bottom: 0;
  width: 100%;
}

.specific1 {
  h3 {
    font-family: "Graphik";
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }

  p {
    font-size: 12px;
  }
}

/* ////////////////Registration page//////////////////// */

.register {
  padding: 5rem;
  border-radius: 10px;
  background: linear-gradient(90deg, #009bc0 0%, #11202d 100%);
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 6rem;
}

.register>h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.004em;
  text-align: left;
  color: white;
}

.btn {
  width: 160px;
  height: 56px;
  padding: 1rem 3rem 1rem 3rem;
  white-space: nowrap;
  border-radius: 5px;
  background: #fcb101;
  cursor: pointer;
  border: none;
  font-family: "Graphik";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

///////////////////Modal window styling/////////////////////
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 100;
  padding: 4.5rem;
  font-family: "Graphik";

  h3 {
    color: #11202D;
    font-family: 'Graphik';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 125% */
  }

  h4 {
    color: #11202D;
    font-family: 'Graphik';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 8px;
    margin-bottom: 0;
    /* 125% */
  }
  
  p {
    margin-top: 24px;
    color: #000;
    font-family: 'Graphik';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
  }

  .imgModal {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    cursor: pointer;
  }

  .biodata {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-height: 90vh;
    margin: auto;
    gap: 2rem;
    background-color: white;
    padding: 4rem;
    overflow-y: scroll;
    border-radius: 8px;

    span {
      color: red;
      font-size: 30px;
    }
  }
}

/* /////////////////Responsiveness//////////////////////// */

@media screen and (max-width: 992px) {
  .container {
    margin: 2rem 2rem;
  }

  .about {
    gap: 1rem;
    grid-template-columns: 15rem 1fr;
    margin-bottom: 1rem;
    line-height: 3rem;
  }

  .text {
    font-size: 15px;
    font-weight: 200;
  }

  .conference>h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .conference>h2 {
    font-size: 30px;
    font-weight: 600;
  }

  .guest {
    gap: 3rem;
    font-size: 16px;
    padding: 0 4.5rem;
  }

  .speakers {
    font-size: 40px;
    font-weight: 500;
    line-height: 0px;
    margin-bottom: 4rem;
  }

  .register {
    padding: 60px 120px 60px 56px;
    margin: 3rem 5rem;
    grid-gap: 4rem;
  }

  .register>h1 {
    font-size: 18px;
    font-weight: 500;
  }

  .register>.btn {
    padding: 16px, 32px, 16px, 32px;
  }

  .schedule {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }

  .highlight {
    gap: 6rem;
  }

  .progamEvent {
    width: 100%;
    margin: auto;
  }

  .progamEvent>h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .inner {
    line-height: 17px;
  }

  .inner>p {
    margin-bottom: 0.5rem;
  }

  ////////////////MODAL RESPONSIVENESS//////////////

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 100;
    padding: 2rem;
    font-family: "Graphik";

    .biodata {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 95vh;
      padding: 1.5rem;
      border-radius: 0.5rem;
    }

    h3 {
      font-size: 25px;
      line-height: 30px;
      color: #11202d;
    }

    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      color: #11202d;
    }

    .modalPic {
      margin-top: 8rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 1rem 1rem;
  }

  .about {
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    line-height: 3rem;
  }

  .highlight {
    gap: 0.5rem;
    font-size: 10px;
  }

  .progamEvent {
    width: 100%;
  }

  .guest {
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
    padding: 0px;
  }

  .register {
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
  }

  .register>h1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .register {
    .btn {
      padding: none;
      margin-top: 1rem;
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
    }
  }

  .inner {
    line-height: 17px;
  }

  ////////////////MODAL MODAL RESONSIVENESS/////////////

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 100;
    padding: 0.5rem;
    font-family: "Graphik";

    .biodata {
      display: block;
      width: 100%;
      max-height: 95vh;
      padding: 1rem;
      border-radius: 0.5rem;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      color: #11202d;
    }

    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      color: #11202d;
    }

    .imgModal {
      position: absolute;
      right: 1rem;
      top: 0.6rem;
    }

    .modalPic {
      margin-top: 20rem;
    }

    p {
      font-size: 13px;
      font-weight: 300;
      line-height: 15px;
    }
  }
}

.registraion {
  h4 {
    color: #262626;
    font-family: "Graphik";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 48px;
    /* 125% */
  }

  h6 {
    color: #262626;
    font-family: "Graphik";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    text-transform: uppercase;
  }

  .form {
    margin-bottom: 99px;

    &_header {
      margin-bottom: 40px;
    }

    &_description {
      color: #11202d;
      font-family: "Graphik";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 40px;
      /* 25.6px */

      span {
        font-weight: 600;
      }
    }

    &_check {
      label {
        margin-top: 8px;
        margin-left: 5px;
      }
    }

    &_row {
      margin-bottom: 32px;

      label {
        color: #666;
        font-family: "Graphik";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        // margin: 0;
        /* 114.286% */
      }

      input {
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        padding: 10px !important;
      }

      ::placeholder {
        /* Edge 12-18 */
        color: #c2c2c2 !important;
        font-family: "Graphik";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 125% */
        letter-spacing: 0.32px;
      }

      ::-ms-input-placeholder {
        /* Edge 12-18 */
        color: #c2c2c2 !important;
        font-family: "Graphik";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 125% */
        letter-spacing: 0.32px;
      }

      .btn_drop {
        height: 46px;
        border: 1px solid #ced4da;
        font-family: 'Graphik';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 125% */
        letter-spacing: 0.32px;

        &:hover,
        &:focus,
        &:active {
          background: initial !important;
        }
      }

      .dropdown_menu {
        min-width: 80px !important;
        max-height: 200px !important;
        overflow-y: scroll;
      }

    }
  }
}

.country_icon {
  width: 20px;
  height: 20px;
}

.hosts {
  margin-top: 37px;

  h6 {
    color: #11202D;
    font-family: 'Graphik';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 122.222% */
  }

  p {
    color: #11202D;
    font-family: 'Graphik';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 !important;
  }
}