.underlineinput {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  outline: none;
  border-radius: 0%;
}

.underlineinput:focus {
  border-bottom: 2px solid #000; /* Change the bottom border on focus */
}

.atbtn {
  display: flex;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }

  @media screen and (max-width: 576px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.customxs {
  background: #f0f2f3;

  .latestevents {
    display: grid;
    place-items: center;
    color: #0d1117;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 2rem;
    padding-top: 4rem;
  }

  .featuredHero {
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 3rem;
    background: #fcfcfc;
    padding: 2rem 2.5rem;

    @media (max-width: 768px) {
      padding: 1rem;
      width: 90%;
    }
  }

  .points {
    cursor: pointer;
    &:hover {
      .fcontent {
        text-decoration: 1px solid underline !important; /* or any other decoration you want */
        color: black !important;
      }
    }
  }
}

.gitexslider {
  background-color: #11202d;
}

.featuredHero {
  // margin-top: -65px;
  border-radius: 8px;
}

.herobanner {
  background-image: url("/assets/event/eventbg.png");
  background-size: cover;
  height: 485px;

  .heroimg {
    display: grid;
    place-items: center;
  }

  .upcomingparent {
    display: grid;
    padding-top: 53px;
    padding-bottom: 11.29px;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      margin: 0%;
      place-items: center;
    }
  }

  .upcoming {
    display: flex;
    background-color: #746e6e;
    color: #fff;
    width: 293.63px;
    padding-left: 23.11px;
    padding-right: 22.51px;
    padding-top: 3.79px;
    padding-bottom: 2.92px;
  }

  .herotext {
    font-size: 30px;
    font-weight: bold;
    line-height: 120%;
  }

  .heroimg {
    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}

.featuredsec {
  color: #5e666d;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 24px;
}

.fimages {
  border-radius: 4px;
  width: 176px;
  height: 101px;
}

.gitex24 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;

  @media screen and (max-width: 992px) {
    column-gap: 3rem;
    align-items: flex-start;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .gitexcontentdiv {
    display: grid;
    place-items: center;

    .gitextdiv {
      margin-bottom: 21px;

      @media screen and (max-width: 992px) {
        margin-bottom: 2px;
      }

      .gitext {
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 71.7px;
        color: #1a768d;
        max-width: 525px;

        @media screen and (max-width: 1026px) {
          font-size: 2.5rem;
          line-height: 50px;
        }

        @media screen and (max-width: 992px) {
          font-size: 1.8rem;
          line-height: 50px;
        }

        @media screen and (max-width: 576px) {
          font-size: 1rem;
          line-height: 35.8px;
        }
      }
    }

    .supertextdiv {
      margin-bottom: 21px;

      .supertext {
        font-size: 28px;
        font-weight: bold;
        line-height: 150%;
        color: #191d48;

        @media screen and (max-width: 992px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 0.9rem;
        }
      }
    }

    .detailstextdiv {
      margin-bottom: 21px;

      .detailstext {
        font-size: 18px;
        line-height: 20px;
        color: #000000;

        @media screen and (max-width: 992px) {
          font-size: 1rem;
        }
      }
    }

    .desctextdiv {
      margin-bottom: 80px;

      .desctext {
        font-size: 15.4px;
        line-height: 25px;
        color: #121212;
        text-align: left;

        @media screen and (max-width: 576px) {
          text-align: justify;
          margin: 0.2rem;
          font-size: 13px;
        }
      }
    }
  }

  .gitexpicturediv {
    display: grid;
  }
}

/* components/Slider.module.css */
.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11202d;
  padding-top: 20px;
  padding-bottom: 10px;
}

.imageRow {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.imageRow img {
  width: 25%;
  // height: 25%;
  transition: transform 0.5s ease;
}

.dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  transform: scale(1.1);
}

.activeDot {
  background-color: #ffffff;
}

.arrowLeftStyle {
  display: block;
  background: white;
  position: absolute;
  z-index: 4;
  left: 25px;
  top: 6rem;
  cursor: pointer;
  color: #004080;
  border-radius: 50%;
  font-size: 12px;
  width: 35px;
  height: 35px;
  padding: 0.5rem;

  @media screen and (max-width: 992px) {
    top: 3rem;
    width: 25px;
    height: 25px;
    left: 5px;
  }
  @media screen and (max-width: 576px) {
    top: 1rem;
    width: 15px;
    height: 15px;
    padding: 0.2rem;
  }
}

.arrowRightStyle {
  display: block;
  background: white;
  position: absolute;
  right: 2rem;
  top: 6rem;
  cursor: pointer;
  color: #004080;
  border-radius: 50%;
  font-size: 12px;
  width: 35px;
  height: 35px;
  padding: 0.5rem;

  @media screen and (max-width: 992px) {
    top: 3rem;
    width: 25px;
    height: 25px;
    right: 5px;
  }
  @media screen and (max-width: 576px) {
    top: 1rem;
    width: 15px;
    height: 15px;
    padding: 0.2rem;
  }
}
