@import "lib/breakpoints";

.faq{
    display: flex;
    flex-direction: column;
    // background: #F6F6F6;
    // border: 0.5px solid #00000065;
    padding: 0.5rem 10.5rem;
    margin: 1.5rem 0;
    cursor: pointer;
    transition: 0.2s;

    @include media("<phone"){
        padding: 0px;
    }

    @include media(">=phone","<=custom-view-3"){
        padding: 0px;
    }

    &:hover{
        background: #e0e0e0;
        // border-color: #000;
    }

    .faqTitle{
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        padding: 1.5rem;
        align-items: center;

        @include media("<phone"){
            padding: 0.5rem;
        }

        @include media(">=phone","<=custom-view-3"){
            padding: 1rem;
        }

        h3{
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 50px;
            padding-left: 20px;
            color: #223D55;

            @include media("<phone"){
                font-size:18px;
                margin-right: 0.3rem;
                line-height: 30px;
            }
    
            @include media(">=phone","<=custom-view-3"){
                font-size:22px;
                margin-right: 0.5rem;
                line-height: 30px;
            }
        }

        .dropdownIconReturn{
            transform: rotateZ(0);
            transition: 0.3s;
        }
        
        .dropdownIconFlip{
            transform: rotateZ(180deg);
            transition: 0.3s;
            
        }
    }

    .hideFaqBody{
        height: 0;
        overflow: hidden;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        max-width: 786px;
        padding: 0;
        transition: 0.3s;

        @include media("<phone"){
            font-size: 16px;
            line-height: 30px;
        }

        @include media(">=phone","<=custom-view-3"){
            font-size: 18px;
            line-height: 35px;
        }

    }

    .showFaqBody{
        height: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        max-width: 786px;
        padding: 1rem 1.5rem;
        transition: 0.3s;

        p{
            color: #223D55;
        }
        
        @include media("<phone"){
            font-size: 16px;
            line-height: 30px;
        }

        @include media(">=phone","<=custom-view-3"){
            font-size: 18px;
            line-height: 35px;
        }

       
    }

    
}

