@import "lib/breakpoints";

.faqPage{
    margin: 0.5rem 1rem;

    .supportPageHeader{
        margin: 2rem 0;
        .title{
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 125.5%;
            text-align: center;
            color: #132230;

            @include media("<phone"){
                font-size: 35px;
            }
        
            @include media(">=phone","<=tablet"){
                font-size: 40px;
            }
        }
    }

    
}