@import "./lib/fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif "Russo One";
  scroll-behavior: smooth;
  transition: 0.2s;
  font-family: "Graphik", "IBM Plex Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

ul {
  padding: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Graphik", sans-serif;
  font-style: normal;
}

.bg-pri {
  background-color: #e37915;
  color: white;
}

.bg-sec {
  background-color: #223d55;
  color: white;
}

.btn {
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  font-weight: 600;
  padding: 10px 30px;
}

.btn-pri {
  background: #e37915;
  border: 1.5px solid #e37915;
  color: #ffffff !important;
}

.react-toast-notifications__container {
  z-index: 2000 !important;
}
