@import "lib/breakpoints.scss";

.landingPage {
    .nav {
        position: relative;
        min-height: unset;
        background-color: #132230;
    }

    .hero {
        // padding: 50px 0px 0px 0px;
        // padding-top: 70rem;
        position: relative;
        background-image: url('/assets/home/welcome.svg');
        background-size: 100vw auto;
        background-repeat: no-repeat;
        // background-position: 0 -100px;
        min-height: 77vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media screen and (max-width: 1100px) {
            min-height: 68vw;
            background-size: contain;
            padding-top: 40rem;
            // margin-top: 20rem;
        }

        @media screen and (max-width: 769px) {
            max-height: 55vw;
            background-size: contain;
            padding-top: 40rem;
            // margin-top: 20rem;
        }

        @media screen and (max-width: 576px) {
            background-size: 800px !important;
            // background-color: red;
            background-position: -50px 50px;
            min-height: 750px;
            background-size: contain;
            padding-top: 0rem;
            // margin-top: 20rem;
        }

        // background-color: #212121;
        .us {
            position: absolute;
            top: 70px;
            right: 8vw;

            @media screen and (max-width: 1600px) {
                // top: 50px;
                right: 6vw;
            }

            @media screen and (max-width: 1200px) {
                top: 50px;
                right: 3vw;
            }

            @media screen and (max-width: 1100px) {
                top: 4vw;
                right: 3vw;
            }

            @media screen and (max-width: 576px) {
                top: 50px;
                // width: 100%;
                right: 10px;
            }

            h1 {
                font-style: normal;
                font-weight: 900;
                // font-size: 3.5vw;
                font-size: 48px;
                line-height: 120%;
                text-transform: capitalize;
                color: #FFFFFF;
                display: block;
                text-shadow: 0px 0px 4px #009BC0;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #009BC0;

                @media screen and (max-width: 1600px) {
                //     display: inline;
                    font-size: 42px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 4.6vw;
                    line-height: 120%;
                    display: block;
                }

                @media screen and (max-width: 576px) {
                    text-shadow: 0px 3px 2px #009BC0;
                    -webkit-text-stroke-width: 1px;
                    font-size: 28px;
                    display: block;
                    // text-align: center;
                }
            }
        }

        .img {
            position: absolute;
            width: 80px;
            background-color: #009BC0;
            top: 50%;
            right: 48%;
            // text-align: center;
        }
    }

    .message {
        // width: 700px;
        width: 70vw;
        margin: 0 auto;

        @media screen and (max-width: 576px) {
            width: 90%;
        }

        &>p {
            margin-bottom: 30px;
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            // line-height: 42px;
            text-align: center;
            color: rgba(0, 0, 0, 0.9);

            @media screen and (max-width: 1600px) {
                font-size: 24px;
                line-height: 28px;
            }

            @media screen and (max-width: 769px) {
                font-size: 20px;
                line-height: 28px;
            }

            @media screen and (max-width: 576px) {
                font-size: 18px;
            }
        }

        .migration {
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            color: #223D55;

            @media screen and (max-width: 1600px) {
                font-size: 34px;
                line-height: 28px;
            }

            @media screen and (max-width: 769px) {
                line-height: 28px;
                font-size: 30px;
            }

            @media screen and (max-width: 576px) {
                font-size: 24px;
            }
        }

        .half {
            font-style: normal;
            font-weight: 900;
            // font-size: 30px;
            font-size: 40px;
            line-height: 52px;
            // line-height: 28px;
            text-align: center;
            color: #009BC0;

            @media screen and (max-width: 1600px) {
                font-size: 34px;
                line-height: 28px;
            }

            @media screen and (max-width: 769px) {
                line-height: 28px;
                font-size: 30px;
            }

            @media screen and (max-width: 576px) {
                font-size: 24px;
            }
        }
    }

    .featureSection {
        display: flex;
        flex-direction: column;
        margin: 5rem 0;

        @include media("<phone") {
            flex-direction: column;
            margin: 3rem 0;
        }

        @include media(">=phone", "<=custom-view-2") {
            flex-direction: column;
            margin: 3.5rem 0;
        }

        .featuresTitle {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            margin: 1rem 0 5rem 0;

            @media screen and (max-width: 1600px) {
                font-size: 34px;
                line-height: 28px;
            }

            @include media("<phone") {
                text-align: center;
                // font-size: 30px;
            }

            @include media(">=phone", "<=custom-view-2") {
                text-align: center;
                // font-size: 40px;
            }
        }

        .features {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 35%;
            align-self: center;

            @include media(">=phone", "<=custom-view-2") {
                flex-direction: column;
                width: 60%;
                margin: 1.4rem 0;
            }

            @include media("<phone") {
                flex-direction: column;
                margin: 1.4rem 0;
            }

        }

    }

    .projects {
        display: flex;
        flex-direction: column;
        background: #F7F7F7;
        margin: 0 1.5rem;
        padding: 2rem 3rem 1.1rem 3rem;

        @include media("<phone") {
            margin: 0;
            padding: 2rem 0.5rem 1.1rem 0.5rem;
        }

        @include media(">=phone", "<=desktop") {
            margin: 0;
            padding: 2rem 0.8rem 1.1rem 0.8rem;
        }

        .projectList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @include media("<phone") {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }

            @include media(">=phone", "<=desktop") {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        .allProjectsBtn {
            margin: 3rem 0 0 0;
            width: fit-content;
            transition: .2s;

            &::after {
                display: block;
                content: "";
                border: 2px solid #1B3854;
                background: #1B3854;
                width: 100%;
                transition: .2s;
            }

            &:hover {
                &::after {
                    width: 0;
                    visibility: hidden;
                }
            }
        }
    }

    .ourServices {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F7F9FC;
        padding: 5rem 3vw;

        @media screen and (max-width: 1300px) {
            padding: 5rem 0;
        }

        @media screen and (max-width: 769px) {
            padding: 5rem 3vw;
        }

        .ourServicesHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0;

            .ourServicesTitle {
                font-weight: 600;
                font-size: 40px;
                line-height: 52px;
                color: #212121;
                text-align: center;

                @media screen and (max-width: 1600px) {
                    font-size: 34px;
                    line-height: 28px;
                }
            }

            .ourServicesSubtitle {
                display: none; //to remove placeholder text
                font-weight: normal;
                font-size: 16px;
                line-height: 200%;
                text-align: center;
                color: rgba(61, 61, 61, 0.9);
                max-width: 70%;
                margin: 1rem 0;
            }
        }

        .ourServicesList {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            // justify-content: center;
            justify-content: space-around;
            column-gap: 3rem;
            // background-color: #009BC0;
            padding: 1rem 0rem;
            // width: 100%;
            margin: 0 auto;

            @media screen and (max-width: 1300px) {
                justify-content: space-around;
                column-gap: 2rem;
            }

            @media screen and (max-width: 769px) {
                justify-content: space-around;
            }

            .service {

                display: flex;
                flex-direction: column;
                align-items: center;
                background: #FFFFFF;
                border-radius: 5px;
                padding: 0.2rem;
                max-width: 350px;
                margin-top: 1.5rem;
                border: 8px solid #ffffff00;

                &:hover {
                    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
                    border-top: 8px solid #132230;
                }

                @media screen and (max-width: 1300px) {
                    max-width: 300px;
                }

                .serviceIcon {
                    margin: 1rem 0;
                }

                .serviceInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin: 0 0 1rem 0;

                    .serviceTitle {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #212121;
                    }

                    .serviceSubtitle {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 170%;
                        color: rgba(93, 93, 93, 0.9);
                        margin: 1rem 0;
                        max-width: 90%;

                        @media screen and (max-width: 1300px) {
                            // max-width: 96%;
                        }
                    }
                }
            }
        }
    }

    .ourMilestones {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;

        .ourMilestonesHeader {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .ourMilestonesTitle {
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 52px;
                color: #212121;

                @media screen and (max-width: 1600px) {
                    font-size: 34px;
                    line-height: 28px;
                }
            }

            .ourMilestonesSubtitle {
                display: none; //to remove placeholder text
                font-weight: normal;
                font-size: 16px;
                line-height: 220%;
                color: rgba(61, 61, 61, 0.9);
                width: 70%;
                margin: 2rem 0;
            }
        }

        .ourMilestonesList {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1.5rem 0;

            .milestone {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
                margin: 0 2rem;

                .milestoneIcon {
                    margin: 1rem 0;
                }

                .milestoneDescription {
                    text-align: center;

                    .milestoneFigure {
                        font-weight: 500;
                        font-size: 48px;
                        line-height: 62px;
                        color: #3D3D3D;
                    }

                    .milestoneName {
                        color: #3D3D3D;
                    }
                }
            }
        }
    }

    .trustedBySection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;

        .trustedBySectionTitle {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 52px;
            color: #212121;

            @media screen and (max-width: 1600px) {
                font-size: 34px;
                line-height: 28px;
            }
        }

        .trustedCompaniesList {
            height: 250px;
            margin: 1rem auto;
            white-space: nowrap;
            overflow: hidden;
            width: 95vw;

            .trustedCompanies {
                display: inline-flex;
                align-items: center;
                height: 100%;
                padding-left: 10%;
                animation: marquee 20s linear infinite;

                .trustedCompany {
                    display: inline-block;
                    margin: 0 3rem;
                }

            }
        }
    }
}

// Scrolling animation

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}