.licencelayout {
  background: #0b141c;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
  .licencehero {
    width: 60%;
    margin: auto;

    @media screen and (max-width: 992px) {
      width: 90%;
    }

    .textlicence {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #009bc0;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 51px;
      line-height: 59px;
      margin-bottom: 2rem;
      color: white;
      font-weight: 700;
      letter-spacing: -1px;

      @media screen and (max-width: 992px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 576px) {
        font-size: 2rem;
        line-height: 40px;
      }
    }

    p {
      font-size: 20px;
      line-height: 32px;
      color: #e7e8e9;
      margin-bottom: 48px;

      @media screen and (max-width: 992px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 576px) {
        font-size: 0.9rem;
        line-height: 25px;
      }
    }
  }
}
.infinitesscrollstyling {
  margin-top: 6rem;
  position: relative;

  .overlaylicence {
    background: linear-gradient(90deg, #0b141c 30.02%, #0b141c 100%);
    position: absolute;
    z-index: 100;
    width: 100%;
    opacity: 0.5;
    height: 6.5rem;
  }
}

.button1 {
  background: #e37915;
  border: none;
  margin-right: 12px;
  padding: 14px 40px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  color: white;

  @media screen and (max-width: 576px) {
    margin-bottom: 2rem;
  }
}
.button2 {
  background: none;
  border: 1px solid #ffffff;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 8px;
  color: white;
}

.button3 {
  background: none;
  border: 1px solid #e37915;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 8px;
  color: #e37915;
}

.exception {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  column-gap: 110px;

  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: flex-start;
  }

  .imageContainer {
    width: 100%;
    max-width: 424px;
    height: 113px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    width: 100%;
  }

  .manage {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #009bc0;
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #0f1a24;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 992px) {
      font-size: 1.5rem;
    }
  }

  .lorem {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #3d3d3d;

    @media screen and (max-width: 992px) {
      font-size: 0.8rem;
    }
  }
}

.devoptional {
  padding-top: 96px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: 35% auto;
  column-gap: 2rem;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  h5 {
    color: #0f1a24;
    line-height: 40px;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
    color: #3d3d3d;
    line-height: 28px;
  }

  .optionwrap {
    display: flex;
    column-gap: 1rem;

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }

    .divop {
      padding: 40px 24px 56px 24px;
      border: 1px solid #e5e7eb;
      border-radius: 0.5rem;
    }

    h6 {
      font-size: 1.25rem;
      font-weight: 600;
      color: #0f1a24;
      line-height: 2rem;
    }
  }
}
.subdiv {
  background: #006e88;
  padding-top: 96px;
  padding-bottom: 96px;

  .purchaseOption {
    .purchaseHeading {
      margin-bottom: 80px;
      text-align: center;
      width: 60%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 992px) {
        width: 80%;
      }

      @media screen and (max-width: 576px) {
        width: 90%;
      }

      h5 {
        font-weight: 700;
        line-height: 40px;
        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #fcfcfd;
      }
    }

    .descript {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 7.5rem;
      row-gap: 3rem;
      color: #ffffff;

      @media screen and (max-width: 992px) {
        column-gap: 4rem;
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        column-gap: 2rem;
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.7rem;
      }

      h6 {
        font-weight: 600;
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}

.chooseUsDiv {
  padding-top: 96px;
  padding-bottom: 96px;

  .chooseOption {
    .chooseHeading {
      margin-bottom: 80px;
      text-align: center;
      width: 75%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 992px) {
        width: 90%;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
      }

      h3 {
        font-weight: 700;
        line-height: 48px;
        font-size: 2.4rem;
        color: #0f1a24;
        margin-bottom: 1rem;

        @media screen and (max-width: 576px) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #3d3d3d;
      }
    }

    .expertGuide {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.5rem;
      row-gap: 2.7rem;
      text-align: center;

      @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }

      h5 {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2rem;
        color: #0f1a24;
        margin-top: 1.5rem;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 28px;
        margin-top: 1rem;
      }
    }
  }
}

.faqDiv {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #f9fafb;

  .faqsEncap {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 5.5rem;

    @media screen and (max-width: 992px) {
      column-gap: 3.5;
    }

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
  }

  .faqContent {
    h5 {
      font-weight: 600;
      font-size: 14px;
      line-height: 1rem;
      color: #009bc0;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-weight: 700;
      line-height: 53px;
      font-size: 45px;
      color: #0f1a24;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 992px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.12rem;
      font-weight: 400;
      line-height: 2rem;
      color: #3d3d3d;
    }
  }
}

.contactForm {
  display: grid;
  padding-top: 96px;
  padding-bottom: 96px;
  row-gap: 2rem;
  justify-content: center;
  width: 50%;

  @media screen and (max-width: 992px) {
    width: 80%;
  }

  @media screen and (max-width: 576px) {
    width: 95%;
    padding-top: 66px;
    padding-bottom: 66px;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: #3d3d3d;
  }

  h3 {
    font-weight: 700;
    line-height: 48px;
    font-size: 2.6rem;
    color: #0f1a24;

    @media screen and (max-width: 992px) {
      font-size: 1.8rem;
      line-height: 30px;
    }

    @media screen and (max-width: 576px) {
      font-size: 1.8rem;
      line-height: 30px;
    }
  }

  .portalGroup {
    label {
      font-size: 14px;
      line-height: 15px;
      font-weight: 500;
    }

    select {
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 5px;
      padding: 12px 14px;
      outline: none;
    }

    .optionGroup {
      padding: 2rem;
    }
  }
}

.formStyle {
  form {
    border: 2px dashed #9747ff;
    border-radius: 5px;
    padding: 1.2rem;

    label {
      font-size: 14px;
      line-height: 15px;
      font-weight: 500;
    }

    textarea {
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 5px;
      padding: 12px 1rem;
      outline: none;
    }

    button {
      background: #e37915;
      border: none;
      padding: 14px 40px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 24px;
      border-radius: 8px;
      color: white;
      margin-top: 2rem;
    }
  }

  .portalGroupForm {
    label {
      font-size: 14px;
      line-height: 15px;
      font-weight: 500;
    }

    .selectStyle {
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 5px;
      padding: 12px 14px;
      outline: none;
    }

    .errorSelect {
      width: 100%;
      border: 1px solid #ec6401;
      border-radius: 5px;
      padding: 12px 14px;
      outline: none;
    }

    .optionGroup {
      padding: 2rem;
    }
  }

  .formInput {
    margin-bottom: 2rem;
    label {
      font-size: 14px;
      line-height: 15px;
      font-weight: 500;
    }

    .error {
      border: 2px solid #ec6401;
      width: 100%;
      border-radius: 5px;
      padding: 12px 1rem;
      outline: none;
    }

    .inputStyle {
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 5px;
      padding: 12px 1rem;
      outline: none;
    }
  }
}

.PhoneInput input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #c2c2c2;
  border-radius: 0 0.5rem 0.5rem 0;
  background: white;
  color: #11202d;
  padding: 12px 1rem;
}

.PhoneInput > div {
  outline: none;
  border: 1px solid #c2c2c2;
  border-radius: 0.5rem 0 0 0.5rem;
  background: white;
  color: #11202d;
  padding: 12px 1rem;
  margin-right: 0;
}

.error {
  border: 2px solid orangered;
}

// CLOUD MIGRATION STYLING
.servercloudstylesMain {
  padding-top: 2rem;
  padding-bottom: 2rem;

  // Variants
  &--default {
    background-color: white;
  }

  &--primary {
    background-color: #f5f5f5;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &--secondary {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .servercloudstyles {
    grid-gap: 5rem;
    align-items: center;

    //display
    &--default {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--primary {
      display: grid;
      grid-template-columns: 58% auto;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .server__content {
      width: 100%;
    }

    h2 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
      color: #0f1a24;
      letter-spacing: -1px;
    }

    p {
      font-size: 1rem;
      color: #595959;
      line-height: 25px;
    }
  }
}

.migration {
  background: #f5f5f5;
  padding-top: 96px;
  padding-bottom: 96px;

  .atlassianCloud {
    .cloudcontent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      &--threeColumn {
        grid-template-columns: repeat(3, 1fr);
      }

      &--largeGap {
        column-gap: 7.5rem;
        row-gap: 3rem;
      }

      @media screen and (max-width: 992px) {
        column-gap: 2rem;
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        column-gap: 2rem;
      }

      .cardContainer {
        padding: 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .icon {
          width: 56px;
          height: auto;
          margin-bottom: 1.5rem;
          object-fit: contain;
        }

        h4 {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.7rem;
          color: #595959;
          margin-bottom: 1rem;
        }

        h3 {
          font-weight: 600;
          font-size: 21px;
          line-height: 32px;
          margin-bottom: 1rem;
          color: #0f1a24;
        }
        p {
          font-size: 1rem;
          font-weight: 500;
          line-height: 28px;
          color: #595959;
          margin-top: 1rem;
          margin-bottom: 0;
        }

        .link,
        .buttonContainer {
          margin-top: 1rem;
        }

        .featureList {
          margin-left: 1.5rem;
          color: #262626;
          line-height: 25.6px;
          letter-spacing: 0.5%;

          li {
            margin-bottom: 0.5rem;
          }
        }
      }
      .cardDefault {
        padding: 0px; // default styling of card container
      }

      .cardBorder {
        background-color: #f0f0f0;
        border: 1px solid #d9d9d9;
        // height: 387px;
      }
    }
  }
}

.seamlessMigration {
  background: #0b141c;
  .seamlessheading {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    width: 70%;
    margin: auto;

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    h4 {
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 700;
      margin-bottom: 3.5rem;
      color: white;

      @media screen and (max-width: 576px) {
        font-size: 1.8rem;
      }
    }
  }
}

.migration__process__alluvium {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .migration__process {
    h2 {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 44px;
      color: #3d3d3d;
      margin-bottom: 98px;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
      line-height: 1.6rem;
      color: #595959;
      margin-top: 48px;
      width: 78%;
      margin-left: auto;
      margin-right: auto;
    }

    .cloud__process {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      margin-bottom: 2rem;
    }

    .timeline_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      flex: 1;
      width: 100%;
    }

    .timeline_content {
      text-align: center;
      margin-bottom: 1rem;
      color: #191d48;

      span {
        font-size: 2.5rem;
        line-height: 2.75rem;
      }

      h3 {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 400;
        margin: 1rem 0 2rem;
      }

      span,
      h3 {
        transition: color 0.3s ease;
      }

      &:not(.active) {
        color: #191d4826;
      }
    }

    .timeline_circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ccc;
      margin-bottom: 0.5rem;
      transition: background-color 0.3s ease;
      position: relative;
      overflow: hidden;
      z-index: 2;

      &.active {
        background-color: #e37915;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e37915;
        transform: scale(0);
        transition: transform 0.3s ease;
      }

      &.active::after {
        transform: scale(1);
      }
    }

    .timeline_line {
      position: absolute;
      bottom: 16px;
      left: 50%; /* Change this for mobile */
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #0000004d 50%, transparent 50%);
      background-size: 6px 2px;
      background-repeat: repeat-x;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #e37915;
        animation: none;
      }

      &.active::before {
        animation: lineProgress 3s linear forwards;
      }
    }

    @media screen and (max-width: 576px) {
      .cloud__process {
        flex-direction: column;
      }

      .timeline_circle {
        display: none;
      }

      .timeline_line {
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, #0000004d 50%, transparent 50%);
        background-size: 2px 6px;
        background-repeat: repeat-y;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 0;
          background: #e37915;
          animation: none;
        }

        &.active::before {
          animation: lineProgressLeft 3s linear forwards;
        }
      }
    }
  }
}

@keyframes lineProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes lineProgressLeft {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
