.newstrends {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;

  &>div {
    width: 413px;
  }

  @media screen and (max-width: 576px) {
    display: block;
  }
}