@import'lib/breakpoints.scss';

.privacy {
	font-family: 'Montserrat' !important;
	margin-bottom: 100px;
	p, li{
	color: rgba(19, 34, 48, 0.7) !important;
	}
	li{
		list-style: none;
	}
	h3{
		color: #132230;
		font-size: 33px;
		font-weight: 400;
	}
}

	




