

.webinarbanner {
    background-image: url('/assets/hbg.png');  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    height: 600px;
  
 
    

}

// background-size: cover;
// background-position: center;
// justify-content: 'center';
// align-items: 'center';
// position: relative;
// padding-top: 100px;
// height:px;
