.cover {
    min-height: 617px;
    background: #0D1117;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px !important;
    padding-bottom: 120px !important;

    h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #009BC0;
    }

    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.85);
        margin-bottom: 40px;
    }

    .learnButton {
        box-sizing: border-box;
        max-width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        border: 2px solid #009BC0;
        border-radius: 5px;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #009BC0 !important;
        transition: all .2s ease-in;

        &:hover {
            // padding: 17px 34px;
            color: white !important;
            background: #009BC0;
        }
    }

    .stats {
        width: 80%;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        gap: 1rem;

        @media screen and (max-width: 1200px) {
            // margin: 6rem 0 2rem 0;
            width: 90%;
            gap: .7rem;
        }

        @media screen and (max-width: 768px) {
            // margin: 6rem 0 2rem 0;
            width: 100%;
            gap: .5rem;
        }

        @media screen and (max-width: 576px) {
            margin: 6rem 0 2rem 0;
            width: 100%;
            gap: .5rem;
        }

        &>div {
            background: #132130;
            border-radius: 5px;
            display: flex;
            flex: 1;
            height: 130px;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 768px) {
                padding: 10px;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 17.6px;
                text-align: center;

                color: rgba(255, 255, 255, 1);
                margin-bottom: 0;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }

            h4 {
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 44px;
                text-align: center;
                color: #E37915;
                opacity: 0.95;

                @media screen and (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }
    }
}