.cover {
    background: #0D1117;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 576px) {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        margin-top: 100px;

        @media screen and (max-width: 576px) {
            column-gap: 0px;
            margin-top: 40px;
        }

        &>div {
            flex: 1;

            @media screen and (max-width: 576px) {
                flex: none;
                width: 100%;
            }

            &>div {
                height: 120px;
                border-top: 1px solid rgba(255, 255, 255, 0.079);
                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.0125em;

                color: rgba(255, 255, 255, 0.8);

                .number {
                    margin-right: 37px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: -0.015em;
                    color: rgba(224, 224, 224, 0.7);
                }
            }
        }
    }
}