.support__packages {
  background: #fcfcfc;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;

  .support__encap {
    max-width: 1272px;
    margin: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;

    @media screen and (max-width: 992px) {
      padding: 4rem 1rem;
    }
  }

  .heading__start {
    width: 60%;
  }

  .list__package {
    margin-top: 4rem;
    margin-left: 1rem;
    li {
      color: #030303;
      font-weight: 500;
      font-size: 20.51px;
      line-height: 31px;
    }
  }
}

.download__offfer {
  display: flex;
  justify-content: space-between;
  max-width: 1272px;
  margin: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  .download {
    width: 60%;
    h3 {
      color: #11202d;
      font-family: "Grotesk";
      font-size: 48px;
      line-height: 51px;
      font-weight: 700;
      margin-bottom: 26px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      color: #000000;
      margin-bottom: 26px;
    }
  }
}
