.jira__software__management__hero {
  background: url("/assets/events/jira-software-class/bg.png");
  position: relative;

  &--primary {
    background: url("/assets/events/jira-software-class/bg.png");
  }

  &--secondary {
    background: url("/assets/events/shadow-ai/shadowai.png");
    background-position: center;
    background-size: cover;
  }

  &--tertiary {
    background: url("/assets/events/ai/eventbanner.png");
    background-position: center;
    background-size: cover;
  }

  .jira__software__management {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;

    &--primary {
      padding: 8rem 1rem 9rem 1rem;

      @media screen and (max-width: 1200px) {
        padding-left: 3.5rem;
      }
      @media screen and (max-width: 992px) {
        padding-left: 2rem;
        padding-top: 7rem;
      }
      @media screen and (max-width: 640px) {
        padding-left: 18px;
        padding-top: 4rem;
        padding-bottom: 5rem;
      }
    }

    &--secondary {
      padding: 8rem 1rem 15rem 1rem;

      @media screen and (max-width: 1200px) {
        padding-left: 3.5rem;
      }
      @media screen and (max-width: 992px) {
        padding-left: 2rem;
        padding-top: 7rem;
        padding-bottom: 13rem;
      }
      @media screen and (max-width: 640px) {
        padding-left: 18px;
        padding-top: 4rem;
        padding-bottom: 8rem;
      }
    }

    &--tertiary {
      padding: 8rem 1rem 15rem 1rem;
      color: #141414;

      @media screen and (max-width: 1200px) {
        padding-left: 3.5rem;
      }
      @media screen and (max-width: 992px) {
        padding-left: 2rem;
        padding-top: 7rem;
        padding-bottom: 13rem;
      }
      @media screen and (max-width: 640px) {
        padding-left: 18px;
        padding-top: 4rem;
        padding-bottom: 8rem;
      }
    }

    .heading {
      font-size: 36px;
      line-height: 39px;
      font-weight: 500;
      margin-bottom: 1rem;

      @media screen and (max-width: 640px) {
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }

    h1 {
      font-size: 73px;
      line-height: 78px;
      font-weight: 700;
      margin-bottom: 1rem;
      width: 85%;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        font-size: 60px;
      }

      @media screen and (max-width: 992px) {
        font-size: 2.5rem;
        line-height: 3rem;
        width: 95%;
      }

      @media screen and (max-width: 640px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .subhead {
      color: #f1efff;
      font-size: 21px;
      line-height: 32px;
      width: 50%;
      margin-bottom: 2rem;

      @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 1.5rem;
        width: 80%;
      }

      @media screen and (max-width: 640px) {
        font-size: 14px;
        line-height: 1.5rem;
        width: 90%;
      }
    }

    .time {
      position: absolute;

      &--primary {
        bottom: -3.5rem;
      }
      &--secondary {
        bottom: -6.5rem;
      }
      &--tertiary {
        bottom: -6.5rem;
      }

      @media screen and (max-width: 640px) {
        &--primary {
          bottom: -2.5rem;
        }
        &--secondary {
          bottom: -6.5rem;
        }
        &--tertiary {
          bottom: -6.5rem;
        }
      }

      .timing {
        column-gap: 15px;
        background: white;
        border-radius: 8px;

        &--primary {
          display: flex;
          border-right: 5px solid #009bc0;
          border-bottom: 5px solid #009bc0;
          border-left: 5px solid #009bc0;
          align-items: center;
          width: fit-content;

          @media screen and (max-width: 640px) {
            padding: 1.5rem 12px;
          }
        }

        &--secondary {
          display: flex;
          flex-direction: column;
          border: 9px solid #009bc0;
          padding: 26px 33px 26px 54px;
          row-gap: 12px;
          text-align: left;
          width: 80%;

          @media screen and (max-width: 640px) {
            padding: 1.5rem 12px;
            width: 90%;
          }
        }

        &--tertiary {
          display: flex;
          flex-direction: column;
          border: 9px solid #009bc0;
          padding: 26px 33px 26px 54px;
          row-gap: 12px;
          text-align: left;
          width: 80%;

          @media screen and (max-width: 640px) {
            padding: 1.5rem 12px;
            width: 90%;
          }
        }

        .actual__time {
          &--primary {
            display: flex;
            column-gap: 15px;
            align-items: center;
            padding: 42px 12px;
          }

          &--secondary {
            display: flex;
            column-gap: 12px;
            align-items: center;
            text-align: left;
          }
          &--tertiary {
            display: flex;
            column-gap: 12px;
            align-items: center;
            text-align: left;
          }

          p {
            font-weight: 700;
            font-size: 27px;
            line-height: 33px;
            color: black;
            margin-bottom: 0px;

            @media screen and (max-width: 640px) {
              font-size: 14px;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.description__section {
  background: white;

  .description {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;
    padding: 12rem 1rem 8rem 1rem;

    @media screen and (max-width: 1200px) {
      padding-left: 3.5rem;
    }

    @media screen and (max-width: 992px) {
      padding-left: 2rem;
      padding-top: 7rem;
    }

    @media screen and (max-width: 640px) {
      padding-left: 18px;
      padding-top: 7rem;
    }

    .subheadAI {
      font-size: 3rem;
      line-height: 60px;
      font-family: "Grotesk";
      color: black;
      text-align: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;

      @media screen and (max-width: 1200px) {
        width: 90%;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        margin-top: 4rem;
        font-size: 2.5rem;
        line-height: 3rem;
      }
      @media screen and (max-width: 640px) {
        width: 100%;
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;
      }
    }

    .subheadAIsub {
      font-size: 18px !important;
      color: black !important;
      line-height: 28px !important;
      margin-top: -4rem;
      width: 70%;

      @media screen and (max-width: 640px) {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
      }
    }

    .Curious {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 5rem;
      color: black;
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 640px) {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .feature__description__section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      @media screen and (max-width: 992px) {
        gap: 2rem;
      }

      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
        row-gap: 5rem;
      }

      .event {
        text-align: center;
        font-size: 24px;
        color: black;
        line-height: 23px;
        margin-bottom: 25px;
        font-weight: 600;
      }
      .card__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 26px;
        row-gap: 2rem;

        @media screen and (max-width: 992px) {
          grid-template-columns: 1fr;
        }

        .card {
          padding: 2rem 13px;
          box-shadow: 9.04px 9.04px 36.17px 0px #00000026;
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
          border-bottom-right-radius: 14px;

          h4 {
            font-size: 21px;
            line-height: 23px;
            font-weight: 500;
            color: black;
            margin-top: 22px;
            margin-bottom: 6px;
            width: 55%;
          }

          .subhead {
            font-size: 15px;
            line-height: 21px;
            color: #646464;
            margin-bottom: 0px;
            text-align: left;
            width: 90%;
          }
        }
      }
    }
  }
}

.speaker__section {
  background: white;
  max-width: 1616px;
  margin: auto;
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  .imageContainer1 {
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .imageContainer2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .speaker__section__heading {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;
    padding: 8rem 1rem;

    @media screen and (max-width: 640px) {
      padding-bottom: 3rem;
    }

    .heading__title {
      font-size: 3rem;
      line-height: 60px;
      font-family: "Grotesk";
      color: #141414;
      text-align: center;
      margin-bottom: 5rem;

      @media screen and (max-width: 640px) {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
        text-align: left !important;
      }
    }

    .speaker {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        row-gap: 3rem;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .meet__speaker {
        color: #595959;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        background: #fcf2e8;
        border: 1px solid #e37915;
        padding: 4px 8px;
        margin-bottom: 2rem;
        border-radius: 6px;
        width: fit-content;
      }

      .speaker__details {
        width: 45%;

        @media screen and (max-width: 640px) {
          width: 100%;
        }
      }

      .name {
        font-size: 44px;
        line-height: 64px;
        color: black;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 0.3rem;
        text-align: left;

        @media screen and (max-width: 640px) {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 1rem;
          margin-top: 0rem;
        }
      }

      .description {
        font-size: 18px;
        line-height: 28px;
        color: #595959;
        margin-bottom: 0px;
        text-align: left;

        @media screen and (max-width: 640px) {
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: left;
        }
      }

      .jobTitle {
        font-size: 27px;
        line-height: 33px;
        color: black;
        font-weight: 700;
        text-align: left;

        @media screen and (max-width: 640px) {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }
  }
}

.about__alluvium__section {
  background: #fcfcfc;
  border-bottom: 1px solid #d9d9d9;

  .about__us__content {
    max-width: 1616px;

    .about__uss {
      background: white;
      text-align: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-right: 4rem;
      padding-left: 6rem;

      @media screen and (max-width: 992px) {
        width: 90%;
        padding-right: 2rem;
        padding-left: 2rem;
      }
      @media screen and (max-width: 640px) {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
      }

      h4 {
        font-size: 3rem;
        line-height: 60px;
        font-family: "Grotesk";
        color: #141414;
        text-align: center;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #595959;
        margin-bottom: 3rem;
      }
    }
  }
}
