.jira__software__management__hero {
  background: url("/assets/events/jira-software-class/bg.png");
  position: relative;

  .jira__software__management {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;
    padding: 8rem 1rem 9rem 1rem;

    @media screen and (max-width: 1200px) {
      padding-left: 3.5rem;
    }
    @media screen and (max-width: 992px) {
      padding-left: 2rem;
      padding-top: 7rem;
    }
    @media screen and (max-width: 640px) {
      padding-left: 18px;
      padding-top: 4rem;
      padding-bottom: 5rem;
    }

    .heading {
      font-size: 36px;
      line-height: 39px;
      font-weight: 500;
      margin-bottom: 1rem;

      @media screen and (max-width: 640px) {
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }

    h1 {
      font-size: 73px;
      line-height: 78px;
      font-weight: 700;
      margin-bottom: 1rem;
      width: 85%;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        font-size: 60px;
      }

      @media screen and (max-width: 992px) {
        font-size: 2.5rem;
        line-height: 3rem;
        width: 95%;
      }

      @media screen and (max-width: 640px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .subhead {
      color: #f1efff;
      font-size: 21px;
      line-height: 32px;
      width: 60%;
      margin-bottom: 2rem;

      @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 1.5rem;
        width: 80%;
      }

      @media screen and (max-width: 640px) {
        font-size: 14px;
        line-height: 1.5rem;
        width: 90%;
      }
    }
    .time {
      position: absolute;
      bottom: -3.5rem;

      @media screen and (max-width: 640px) {
        bottom: -2.5rem;
      }

      .timing {
        display: flex;
        column-gap: 15px;
        background: white;
        align-items: center;
        width: fit-content;
        border-radius: 8px;
        border-right: 5px solid #009bc0;
        border-bottom: 5px solid #009bc0;
        border-left: 5px solid #009bc0;

        .actual__time {
          display: flex;
          column-gap: 15px;
          align-items: center;
          padding: 42px 12px;

          @media screen and (max-width: 640px) {
            padding: 1.5rem 12px;
          }

          p {
            font-weight: 700;
            font-size: 27px;
            line-height: 33px;
            color: black;
            margin-bottom: 0px;

            @media screen and (max-width: 640px) {
              font-size: 14px;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.description__section {
  background: white;

  .description {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;
    padding: 10rem 1rem 8rem 1rem;

    @media screen and (max-width: 1200px) {
      padding-left: 3.5rem;
    }

    @media screen and (max-width: 992px) {
      padding-left: 2rem;
      padding-top: 7rem;
    }

    @media screen and (max-width: 640px) {
      padding-left: 18px;
      padding-top: 7rem;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 5rem;
      color: black;

      @media screen and (max-width: 640px) {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }

    .feature__description__section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      @media screen and (max-width: 992px) {
        gap: 2rem;
      }

      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
        row-gap: 5rem;
      }

      .event {
        text-align: center;
        font-size: 21px;
        color: black;
        line-height: 23px;
        margin-bottom: 25px;
      }
      .card__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 26px;
        row-gap: 2rem;

        @media screen and (max-width: 992px) {
          grid-template-columns: 1fr;
        }

        .card {
          padding: 2rem 13px;
          box-shadow: 9.04px 9.04px 36.17px 0px #00000026;
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
          border-bottom-right-radius: 14px;

          h4 {
            font-size: 21px;
            line-height: 23px;
            font-weight: 500;
            color: black;
            margin-top: 22px;
            margin-bottom: 6px;
          }

          .subhead {
            font-size: 15px;
            line-height: 21px;
            color: #646464;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.speaker__section {
  background: white;
  max-width: 1616px;
  margin: auto;
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  .imageContainer1 {
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .imageContainer2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .speaker__section__heading {
    max-width: 1272px;
    margin: auto;
    width: 100%;
    color: white;
    padding: 8rem 1rem;

    @media screen and (max-width: 640px) {
      padding-bottom: 3rem;
    }

    .speaker {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5rem;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        row-gap: 3rem;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .name {
        font-size: 44px;
        line-height: 64px;
        color: black;
        font-weight: 700;
        margin-bottom: 22px;
        margin-top: 0.3rem;

        @media screen and (max-width: 640px) {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 1rem;
          margin-top: 0rem;
        }
      }

      .jobTitle {
        font-size: 27px;
        line-height: 33px;
        color: black;
        font-weight: 700;

        @media screen and (max-width: 640px) {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }
  }
}
